@import '../../styles/_variables';
@import '../../styles/_mixins';

.icon-bar {
    width: 100%; /* Full-width */
    //  background-color:$doc-nav-bg-color; /* Dark-grey background */
    //background-image: linear-gradient(to right,darken($brand-core1,10), darken($brand-core1,10 ));
    overflow: auto; /* Overflow due to float */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    padding-left: 5px;
    height: 45px;
    text-align: center;
}

.icon-bar a {
    float: center; /* Float links side by side */
    //text-align: center; /* Center-align text */
    text-align-last: center;
    width: 8.3%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    padding-right: 7px;
    padding-left: 7px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: $black; /* White text color */
    font-size: 20px; /* Increased font size */
    max-width: 60px;
    cursor: pointer;
}

.icon-bar a:hover {
    background-color: darken($brand-core1, 15); /* Add a hover color */
    color: $brand-menu-item-hover-color;
}

// .active {
// background-color: $brand-menu-item-active-background ; /* Add an active/current color */
//}

thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;

    span {
        visibility: hidden;
    }

    &.active {
        color: #000;

        span {
            visibility: visible;
        }
    }
}

.col-6 {
    width: 50%;
    float: left;
}

.content-example {
    background-color: blue;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    border-radius: 2px;
}

.button-example {
    border: solid blue;
    border-width: 2px;
    width: 40%;
    height: 24px;
    float: left;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}
