<!-- <div style="width: 550px;"> -->
<div class="icon-bar">
    <a><i class="fa fa-search-plus" title="Zoom in" (click)="zoom_in()"></i> </a>
    <a><i class="fa fa-search-minus" title="Add" (click)="zoom_out()"></i> </a>

    <!-- <a><i class="fa fa-columns" title="Split" (click)="burstPDF()"></i></a>
    <a><i class="fa fa-compress " title="Merge" (click)="merge()"></i> </a>
    <a><i class="fa fa-trash" title="Delete" (click)="deletePDF()"></i></a> -->

    <a><i class="fa fa-backward" title="First" (click)="pageNavigationFirst()"></i></a>
    <a><i class="fa fa-arrow-left" title="Previous" (click)="pageNavigationPrevious()"></i></a>
    {{ pageVariable }} / {{ NoOfPages }}
    <a><i class="fa fa-arrow-right" title="Next" (click)="pageNavigationNext()"></i></a>
    <a><i class="fa fa-forward" title="End" (click)="pageNavigationLast()"></i></a>
    <!-- <a><i class="fa fa-bullseye" title="Ready for OCR" (click)="readyForOCR()"></i> </a> -->
</div>

<div style="position: relative; margin-top: 0; padding-top: 0;">
    <pdf-viewer
        [src]="cloudFrontUrl"
        [(page)]="pageVariable"
        [show-all]="false"
        [original-size]="false"
        [zoom]="zoom_to"
        [autoresize]="true"
        (after-load-complete)="afterLoadComplete($event)"
        style="display: block;"
    >
    </pdf-viewer>
</div>
<!-- </div> -->
