// .form-stacked {
//   .form-group {
//     .form-label {
//       line-height: normal;
//       margin-bottom: 10px;
//       text-align: left;
//     }
//   }
// }

// .checkbox-inline {
//   display: inline-block;
// }

// .form-group {
//   margin-bottom: 10px;

//   .help-block {
//     font-size: $font-size-sm;
//     letter-spacing: $letter-spacing-sm;

//     // Required asterisk *
//     em {
//       color: $card-txt-color;
//     }
//   }

//   .form-label {
//     color: $form-label-color;
//     font-size: $font-size-xs;
//     letter-spacing: $letter-spacing-xs;
//     line-height: $input-height;
//     text-align: right;
//     @media only screen and (max-width: $screen-xs-max) {
//       text-align: left;
//     }

//     &.form-label-big {
//       color: $form-label-big-color;
//       font-size: $font-size-sm;
//     }
//   }



//   &.form-group-vertical {
//     .form-label {
//       color: $grey;
//       font-size: $font-size-xs;
//       vertical-align: top;
//     }

//     .form-control {
//       display: block;
//       width: 100%;
//     }
//   }

//   .input-validation {
//     width: 100%;

//     .validation-message {
//       color: $grey;
//       display: block;
//       font-size: $font-size-sm;
//       font-weight: 500;
//       letter-spacing: $letter-spacing-sm;
//       margin-left: 12px;
//     }
//   }

//   &:last-child {
//     margin-bottom: 0;
//   }

  .label {
    // border-radius: 8px;
    // font-size: $font-size-sm;
    // letter-spacing: $letter-spacing-sm;
    // padding: 8px 12px;
    color: red;
  }
//     &.label-danger {
//       background-color: $form-error-bkg-color;
//       color: $form-error-color;
//     }
//   }
// }

// .input-group-addon,
// .form-control,
// .form-control-static {
//   background-color: transparent;
//   color: $form-input-color;
//   font-size: $font-size-sm;
//   height: $input-height;
//   letter-spacing: $letter-spacing-sm;
// }

// .input-group-addon,
// .form-control {
//   @include _placeholder {
//     color: $form-input-broder-color;
//   }

//   border-color: $form-input-broder-color;
//   border-radius: $form-input-broder-radius;
//   border-style: solid;
//   border-width: 1px;
//   box-shadow: none;
// }

// .btn-form {
//   @include button($white, $purple, $purple);
// }
