.formly-wrapper {
    .label {
        color: red;
    }

    .display-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-3 {
        flex: 3;
    }

    .flex-4 {
        flex: 4;
    }

    .flex-5 {
        flex: 5;
    }

    .flex-6 {
        flex: 6;
    }

    [class*='flex-'] {
        padding-left: 10px;
        padding-right: 10px;
    }

    [class*='flex-']:first-child {
        padding-left: 0;
    }

    [class*='flex-']:nth-last-child(2) {
        padding-right: 0;
    }

    .addressLines {
        width: 75%;

        .form-group {
            margin-bottom: 5px !important;
            width: 75%;
            min-width: 400px;
            max-width: 600px;
        }
    }

    .col1 {
        width: 20%;
        min-width: 100px;
        max-width: 150px;
        margin-right: 15px;
    }

    .col2 {
        width: 50%;
        min-width: 400px;
        max-width: 400px;
        margin-right: 15px;
    }

    .col3 {
        width: 75%;
        min-width: 400px;
        max-width: 600px;
    }

    .col4 {
        width: 100%;
        min-width: 400px;
        max-width: 800px;
    }

    .notes {
        min-height: 100px;
        display: block;
        .form-group {
            min-height: 100px;
            width: 100%;
            min-width: 400px;
        }
    }
}
