@import '~@angular/material/theming';
@include mat-core();
// Plus imports for other components in your app.

// Reference: https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1

$custom-typography: mat-typography-config(
    $font-family: 'Lato'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core($custom-typography);

// @import './themes/app.component.scss-theme';
// // @import './themes/mat-def-theme';
// @import './themes/mat-dark-theme';
// @import './themes//mat-light-theme';

// .mat-light-theme {
//   @include angular-material-theme($anms-light-theme);
// //  @include mat-font-size($config, title);
//  // @include custom-components-theme($anms-theme);

// }

// .mat-dark-theme {
//   @include angular-material-theme($anms-black-theme);
// //  @include custom-components-theme($anms-black-theme);
//   }

//   .mat-light-themse {
//     @include angular-material-theme($anms-light-theme);
//   //  @include custom-components-theme($anms-light-theme);
//   }

$my-app-primary: mat-palette($mat-orange);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
.alternate-theme {
    $alternate-primary: mat-palette($mat-light-blue);
    $alternate-accent: mat-palette($mat-yellow, 400);
    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
    @include angular-material-theme($alternate-theme);
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
