@import './variables';
@import './material';

#tab-body-wrapper {
    padding: 15px;
    // min-height: 100%;
    height: calc(100% -65px);
    margin: 0px;

    //box-sizing: border-box; /*new*/
}

#cards-wrapper-button {
    margin-bottom: 15px;
}

#cards-card-wrapper {
    height: 100%;
    width: 100%;
    padding: 16px;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

#modal-form {
    border: 2px solid lightgrey;
    border-radius: 10px;
    //   min-height: 500px;
    //   width: 50%;
    //  min-width: 800px;
    //   padding: 5px;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

#module-card {
    border: 1px solid lightgrey;
    border-radius: 5px;
    min-height: 100px;
    //  width: 40%;
    min-width: 400px;
    padding: 5px;
    margin: 0px;
    position: relative;
    margin: 5px;
}
.module-card-header {
    font-size: 15px;
    font-weight: bold;
}

.module-accordian-header {
    font-size: 20px;
    font-weight: bold;
}

.card-tabs {
    // min-height: 23px;
    padding: 0px;
    //  height: calc(100vh - 165px);
    flex-grow: 1;
    background-color: $card-bg-color;
    border-radius: 5px;
    box-shadow: $shadow;
    //  color: $black;
    margin-bottom: 20px;
    padding: 20px;
    height: 100%;
}

.tabs-folder {
    width: 100%;
}

// used
.mat-tab-body-wrapper {
    height: calc(100% - 10px);
}

#tab-wrapper {
    height: calc(100% - 75px);
    margin: 0 auto;
}

.clicker {
    cursor: pointer;
}

// Cards on a Tab

.tab-card {
    border: 1px solid lightgrey;
    border-radius: 5px;
    min-height: 200px;
    width: 50%;
    min-width: 400px;
    padding: 5px;
    margin: 0px;
    position: relative;
}

.tab-card-selected {
    border: 2px solid $brand-core2;
}

// Formly

.formly-wrapper {
    .label {
        color: red;
    }

    .display-flex {
        display: flex;
        flex-wrap: wrap;
    }

    .flex-1 {
        flex: 1;
    }

    .flex-2 {
        flex: 2;
    }

    .flex-3 {
        flex: 3;
    }

    .flex-4 {
        flex: 4;
    }

    .flex-5 {
        flex: 5;
    }

    .flex-6 {
        flex: 6;
    }

    [class*='flex-'] {
        padding-left: 10px;
        padding-right: 10px;
    }

    [class*='flex-']:first-child {
        padding-left: 0;
    }

    [class*='flex-']:nth-last-child(2) {
        padding-right: 0;
    }

    .addressLines {
        width: 75%;

        .form-group {
            margin-bottom: 5px !important;
            width: 75%;
            min-width: 400px;
            max-width: 600px;
        }
    }

    .col1 {
        width: 20%;
        min-width: 100px;
        max-width: 150px;
        margin-right: 15px;
    }

    .col2 {
        width: 50%;
        min-width: 400px;
        max-width: 400px;
        margin-right: 15px;
    }

    .col3 {
        width: 75%;
        min-width: 400px;
        max-width: 600px;
    }

    .col4 {
        width: 100%;
        min-width: 400px;
        max-width: 800px;
    }

    .notes {
        min-height: 100px;
        display: block;
        .form-group {
            min-height: 100px;
            width: 100%;
            min-width: 400px;
        }
    }
}
