// Colors
$violet: #4e0192;
$pink: #ff87f3;
$pink2: #d5a5ff;
$pink3: #f2e3ff;
$beige: #f4f3ef;
$beige2: #fff3f4;
$aqua: #50e3c2;
$purple: #9012fe;
$purple2: #824e94;
$grey: #9b9b9b;
$grey2: #f6f6f6;
$grey3: #dbdbdb;
$grey4: #e1e1e1;
$grey5: #555;
$grey6: #f4f3ef;
$grey7: #f0f0f0;
$grey8: #4a4a4a;
$red: #ff001f;
$red2: #d0011b;
$yellow: #f8e81c;
$orange: #f6a623;
$orange2: #f5a623;
$green: #b8e986;
$green2: #7ed321;
$white: #fff;
$black: #000;
$blue: #2604af;
$blue-fb: #3b5998;
$skyblue: #04abff;

$brand-core3: blue;
$brand-core2: rgb(254, 149, 28);
//$brand-core1: rgb(0,175,224) ;
//$brand-core1: rgb(177, 33, 170);
$brand-core1: rgb(57, 62, 65);

$brand-darken: 0;

//Menu Item
$brand-menu-item-color: white;
$brand-menu-item-color-disabled: grey;

// Menu Item Hover
$brand-menu-item-hover-background: darken($brand-core2, $brand-darken);
$brand-menu-item-hover-color: $brand-core2;

$brand-menu-item-active-background: white;

$brand-font-family: 'Lato', 'Helvetica', sans-serif;
//$brand-font-family: 'arial'; // need to follow
// $brand-font-family: 'castellar';

//Sub Menu
$brand-sub-menu-item-background: lighten($brand-core1, 30);
$brand-sub-menu-item-active-background: darken($brand-core2, 0);

//Main Body
$main-content-container-background: white; //lighten(grey, 45);

$brand-content-background1: $brand-core1;
$brand-content-background2: $brand-core1;

$body-bg-color: white;

$nav-bg-top-color: $violet;
$nav-bg-btm-color: $pink;
//$nav-bg-top-color: $black;
//$nav-bg-btm-color: $black;

//Docment navigation
$doc-nav-bg-color: $white;
$doc-nav-fg-color: $violet;

$doc-nav-bg-color-hover: $white;
$doc-nav-fg-color-hover: $red;

$doc-nav-bg-color-active: $violet;

$inactive-bg-color: $grey3;

$card-bg-color: $white;
$card-txt-color: $purple;

$form-label-big-color: $purple2;
$form-label-color: $grey;
$form-input-color: $grey8;
$form-input-broder-color: $grey4;
$form-input-broder-radius: 4px;
$form-checkbox-radio-color: $brand-core2;
$form-error-color: $red2;
$form-error-bkg-color: $beige2;
$form-tag-color: $purple;
$form-slider-color: $purple;

$shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.06);
$shadow-hover: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
$shadow-container: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
$shadow-inset: inset 0 0 15px 0 rgba(0, 0, 0, 0.2);

// Texts
$font-family: $brand-font-family;

$font-size-xxxlg: 57px;
$font-size-xxlg: 40px;
$font-size-xlg: 32px;
$font-size-lg: 22px;
$font-size-md: 17px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-size-xxs: 9px;

$letter-spacing-lg: 2.3px;
$letter-spacing-md: 2.1px;
$letter-spacing-sm: 1.8px;
$letter-spacing-xs: 1.5px;
$letter-spacing-xxs: 1.3px;
$letter-spacing-xxxs: 1.1px;

// Measures
$checkbox-radio-size: 12px;
$input-height: 38px;
$separation: 15px;
$side-menu-width: 260px;
$top-navbar-breakpoint: 910px;

// Images - Preload images
//$preload-image-bg: rgba(darken($white, 10), .25);
$preload-image-bg: transparent;

// Images - Preload images - Spinner on load
$spinner-size: 28px;
$spinner-color: $brand-core2;
