@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700,900');
@import '../../../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'md-override';
@import 'tables';
@import 'forms';
@import 'menu';
@import 'spinner';
@import '_material';
@import 'formly';

body {
    background-color: $body-bg-color;
    font-family: $font-family;

    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}

.main-navbar-container {
    align-items: center;
    background-color: darken($brand-core1, 10);
    box-shadow: $shadow-container;
    display: flex;
    position: fixed;
    width: 100%;
}

.main-content-container {
    padding-top: 60px;

    .mat-sidenav-container {
        //background: radial-gradient($brand-content-background1,$brand-content-background2);
        background: $main-content-container-background;

        .mat-drawer.mat-drawer-push {
            background-color: transparent;
        }
    }

    .main-content-outer {
        // Because we already have 15px from the condense menu toggle
        padding-left: 15px;
        padding-right: 30px;
        // height: 100%;
        height: calc(100vh - 80px);
        @media only screen and (max-width: $screen-xs-max) {
            padding-right: 15px;
        }
        overflow: hidden;
        flex-grow: 1;
    }
}

// used
.mat-tab-body-wrapper {
    // padding: 10px;
    //    flex-grow: 1;
    height: calc(100% - 75px);
    //height: 100%;
}

.mat-tab-body {
    // padding: 10px;
    //    flex-grow: 1;
    height: calc(100% - 75px);
    //height: 100%;
}

// * {
//     border: 1px solid #f00 !important;
// }

// Other stuff

.mat-dialog-container {
    //  position: absolute;
    //  left: 50%;
    width: 800px;
    //  top: 10%;
    //   margin-left: -200px;
    //   margin-right: 0px;
    // background-color: white;
    // z-index: 100000;
}

.mat-sidenav-container {
    background-color: transparent;
}

.card {
    background-color: $card-bg-color;
    border-radius: 5px;
    box-shadow: $shadow;
    //  color: $black;
    margin-bottom: 20px;
    padding: 20px;
    height: 100%;
    &.card-no-padding {
        padding: 0;
    }

    .title {
        margin-bottom: 20px;

        .main-title {
            font-size: $font-size-lg;
            font-weight: 300;
            letter-spacing: $letter-spacing-lg;
            margin: 0;
            text-align: left;
        }

        .sub-title {
            color: $grey;
            display: block;
            font-size: $font-size-sm;
            letter-spacing: $letter-spacing-sm;
            margin-top: 7px;
        }

        .line {
            border-color: $grey4;
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
}

.color-red {
    color: $red;
}

.color-green {
    color: $green2;
}

.color-aqua {
    color: $aqua;
}

.color-orange {
    color: $orange2;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}
