@import '../styles//variables';

.tab_background {
    //  background-color: rgb(17,24,32);
    // background-color: white;
    background-image: url('/assets//imgs//tab/login-background.jpg');
    margin: 0;
    position: fixed;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.tab_vertical_line {
    width: 10px; /* Line width */
    background-color: red; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content.  */
}

.tab_header_sitename {
    padding-top: 12 0px;
    float: bottom;
    color: rgb(255, 213, 23);
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.tab_header_text {
    //width: 250px;
    font-size: 30px;
    float: left;

    margin-top: 10px;
    margin-left: 20px;
    //  margin: 0 auto;
}

.img_logo {
    float: right;
    margin-top: 0px;
    margin-right: 10px;
    height: 100px;
}

.tab_footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    color: rgb(255, 213, 23);
    padding-bottom: 25px;
    font-size: 25px;
}

.back_button {
    color: rgb(255, 213, 23);
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border: 0;
}

.cancel_button {
    color: red;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border: 0;
}

.tick_button {
    color: green;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    border: 0;
}

.tab_input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    background-color: transparent;
    color: yellow;
    font-size: $font-size-sm;
    height: $input-height;
    letter-spacing: $letter-spacing-sm;
}

.tab_input_core {
    background-color: transparent;
    color: yellow;
    border-color: yellow;
}
