<mat-card id="module-card">
    <mat-card-header>
        <mat-card-title>{{ device.deviceId }}</mat-card-title>
        <button mat-icon-button class="module-card-button-top-right">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Registration Code:</th>
                <td>{{ device.registrationCode }}</td>
            </tr>
            <tr>
                <th>Connected:</th>
                <td>{{ device.dateConnected }}</td>
            </tr>
            <tr>
                <th>Last Seen:</th>
                <td>{{ device.dateLastConnected }}</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
