<app-item-navbar
    (itemClick)="itemClick($event)"
    [recordNav]="communicationsTemplateStoreService.selectedRecordString"
    [text]=""
    [edit]="communicationsTemplateStoreService._formState"
></app-item-navbar>

<div id="tab-wrapper">
    <div class="card-tabs">
        <mat-tab-group
            class="tabs-folder"
            id="tab-group"
            (selectedTabChange)="tabChanged($event)"
        >
            <mat-tab label="{{ 'communications.event.item' | translate }}">
                <div id="tab-body-wrapper">
                    <app-communications-template-item-details></app-communications-template-item-details>
                </div>
            </mat-tab>

            <mat-tab label="{{ 'communications.event.message' | translate }}">
                <div id="tab-body-wrapper">
                    <app-communications-template-item-message></app-communications-template-item-message>
                </div>
            </mat-tab>

            <mat-tab
                label="{{ 'communications.event.attachments' | translate }}"
            >
                <div id="tab-body-wrapper">
                    <app-communications-template-item-attachments-card
                        *ngFor="
                            let n of communicationsTemplateStoreService
                                .currentRecord.comTemAtts
                        "
                        [data]="n"
                        class="col-6 clicker"
                        (click)="onClickContactMethod(n)"
                    ></app-communications-template-item-attachments-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
