<form [formGroup]="form" class="formly-wrapper">
    <formly-form
        [model]="communicationsTemplateStoreService.currentRecord"
        [fields]="fields"
        [options]="options"
        [form]="form"
    >
    </formly-form>
</form>
<quill-editor
    [(ngModel)]="communicationsTemplateStoreService.currentRecord.body"
></quill-editor>
