<mat-select
     [formControl]="formControl" [formlyAttributes]="field"  >
     <!-- <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
      </mat-option> -->
 
     <mat-option *ngFor="let option of to.options | async" [value]="option.id" >
        {{option.codeName}}
      </mat-option>
      
  </mat-select>