<div>
    <video
        #inputVideo
        width="640px"
        height="480px"
        style="width: 640px; height: 480px;"
        autoplay
        muted
        playsinline
    ></video>
    <canvas
        style="position: absolute; z-index: 10; top: 0; left: 0;"
        #overlay
    ></canvas>
</div>
