@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.icon-bar {
    width: 100%; /* Full-width */
    //  background-color:$doc-nav-bg-color; /* Dark-grey background */
    background-image: linear-gradient(
        to right,
        darken($brand-core1, 10),
        darken($brand-core1, 10)
    );
    overflow: none; /* Overflow due to float */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    padding-left: 5px;
    height: 55px;
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 8.3%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    padding-right: 7px;
    padding-left: 7px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: $brand-menu-item-color; /* White text color */
    font-size: 20px; /* Increased font size */
    max-width: 60px;
    cursor: pointer;
}

.itemDisabled {
    color: $brand-menu-item-color-disabled;
}

.textArea {
    float: right; /* Float links side by side */
    text-align: center; /* Center-align text */
    //width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    padding-right: 14px;
    padding-left: 14px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: $brand-menu-item-color; /* White text color */
    font-size: 20px; /* Increased font size */
    letter-spacing: 2px;
    // max-width: 60px;
    // cursor: pointer;
}

@media only screen and (max-width: 1525px) {
    .ContactName {
        display: none !important;
    }
}

@media only screen and (max-width: 1250px) {
    .NavButtons {
        display: none !important;
    }
    .icon-bar a {
        width: 13%;
        min-width: 40px;
    }
}

.textAreaRecordNav {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    //width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    padding-right: 14px;
    padding-left: 14px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: $brand-menu-item-color; /* White text color */
    font-size: 20px; /* Increased font size */
    letter-spacing: 2px;
    // max-width: 60px;
    // cursor: pointer;
}

.icon-bar a:hover {
    // background-color: $brand-menu-item-hover-background;
    color: $brand-menu-item-hover-color;
}

.active {
    background-color: $brand-menu-item-active-background; /* Add an active/current color */
}
