<div class="bground">
    <div class="signin">
        <div class="modal-login">
            <div class="modal-login-form">
                <div class="image-logo spin"></div>
                <h2 class="modal-title"><b>CIRCULO LOGIN</b></h2>
                <form class="form-horizontal">
                    <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="username"
                        placeholder="email"
                        [ngModelOptions]="{ standalone: true }"
                        autocomplete="on"
                    />
                    <input
                        type="password"
                        class="form-control"
                        [(ngModel)]="password"
                        placeholder="password"
                        [ngModelOptions]="{ standalone: true }"
                        autocomplete="on"
                    />

                    <div class="login-btns">
                        <button
                            mat-raised-button
                            class="loginButton"
                            color="primary"
                            (click)="login()"
                        >
                            SIGN IN
                        </button>
                    </div>
                    <mat-checkbox
                        [checked]="persistLogin"
                        (change)="persistLogin = !persistLogin"
                        disableRipple
                        >Keep me logged in</mat-checkbox
                    >

                    <a href="javascript:void(0)" class="recover-password"
                        >Forgot email or password?</a
                    ><br />
                    <a
                        href="javascript:void(0)"
                        (click)="navTab()"
                        class="recover-password"
                        >Go to Tablet Setup</a
                    >
                    <div class="recover-password">
                        <span> {{ version }}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
