@import '../../styles/_variables';
@import '../../styles/_mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

.bground {
    //  background-color: darken($brand-sub-menu-item-background, 10);
    height: 100vh;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .bground {
        background-color: white;
    }
}

@media only screen and (max-width: 600px) {
    .bground {
        background-color: white;
    }
}

.image-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/imgs/logo3.png');
}

.signin {
    position: absolute;
    width: 326px;
    height: 500px;
    margin-left: -163px;
    margin-top: -275px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 25px;
    padding: 10px;
}

.form-control {
    // margin-top: 20px;
    // color: white;
    // font: 30px;
    //text-transform: lowercase;
}

.diva {
    height: 100%;
}

.signin-title {
    color: $brand-core1;
    font-size: $font-size-lg;
    font-weight: 300;
    letter-spacing: $letter-spacing-lg;
    margin-bottom: 20px;
    text-align: center;
}

.modal-title {
    color: $brand-core1;
    font-size: $font-size-lg;
    font-weight: 500;
    letter-spacing: $letter-spacing-lg;
    margin-bottom: 20px;
    text-align: center;
}
.loginButton {
    width: 100% !important;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-login {
    display: flex;
    max-width: 100%;
    text-align: center;
    width: 800px;

    .modal-login-form {
        flex-basis: 100%;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;

        .brand-logo {
            margin: auto;
            width: 80px;
        }

        // .modal-title {
        //   color: $purple;
        //   font-size: $font-size-lg;
        //   font-weight: 300;
        //   letter-spacing: $letter-spacing-lg;
        //   margin-bottom: 20px;
        //   text-align: center;
        // }

        .form-control {
            &[type='text'] {
                margin-bottom: 20px;
            }

            &[type='password'] {
                margin-bottom: 20px;
            }
        }

        mat-checkbox {
            display: block;
            margin-bottom: 15px;

            .mat-checkbox-layout {
                .mat-checkbox-frame {
                    border-color: $grey;
                }

                .mat-checkbox-label {
                    color: $grey;
                    font-size: $font-size-xs;
                    letter-spacing: $letter-spacing-xxs;
                }
            }
        }

        .recover-password {
            color: $grey;
            font-size: $font-size-xs;
            letter-spacing: $letter-spacing-xxs;
        }

        .login-btns {
            display: flex;
            margin-bottom: 15px;
            margin-top: 20px;
            justify-content: center;

            // .btn {
            //     &.btn-login {
            //         @include button($grey, $white, $grey);
            //         margin-right: 35px;
            //         margin-left: 35px;
            //     }

            //     &.btn-signin {
            //         @include button($white, rgb(27, 27, 124), rgb(27, 27, 124));
            //         margin-left: 15px;
            //     }
            // }
        }

        .login-divider {
            align-items: center;
            color: $grey8;
            display: flex;
            letter-spacing: $letter-spacing-sm;
            margin-bottom: 15px;

            .line {
                flex-grow: 1;
            }

            span {
                margin: 0 15px;
            }
        }

        .fb-signin {
            @include button($white, $blue-fb, $blue-fb);

            .fa {
                font-size: 20px;
                line-height: $font-size-md;
                margin-left: 20px;
                vertical-align: bottom;

                @media only screen and (max-width: 830px) {
                    display: none;
                }
            }
        }

        @media only screen and (max-width: $screen-xs-max) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .modal-login-image {
        flex-basis: 100%;
        position: relative;

        .background-image {
            background-image: url('/assets/imgs/utils/login-modal.jpeg');
            background-position: center;
            background-size: cover;
            bottom: -24px;
            left: 0;
            position: absolute;
            right: -24px;
            top: -24px;
        }
    }
}

@-moz-keyframes spin {
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 60000ms linear infinite;
}
