@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../styles/_variables';
@import '../../styles/_mixins';

#dashboard {
  .list-dashboard {
    background-image: linear-gradient(95deg, $aqua, $purple);
    color: $white;

    .list-image-circle {
      border: solid 3px $white;
    }

    .list-single {
      padding: 0 10px;

      .list-single-content {
        border-color: $white;

        .list-title {
          color: $white;
          font-size: $font-size-lg;
          font-weight: 300;
          letter-spacing: $letter-spacing-lg;
          margin-bottom: 5px;
        }

        .list-single-subtitle {
          display: block;

          .list-single-subtitle-item {
            display: block;
            font-size: $font-size-xs;
            font-weight: bold;
            letter-spacing: $letter-spacing-xs;

            &:not(:first-child) {
              opacity: .5;
            }

            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }

        .list-single-right {
          align-items: center;
          display: flex;

          .list-image-group {
            display: flex;
            flex-direction: row-reverse;
            margin-left: 20px;
            margin-right: 15px;

            .list-image-circle {
              border-width: 1.5px;
              height: 45px;
              margin-left: -20px;
              margin-right: 0;
              width: 45px;
            }
          }

          .list-text-group {
            display: flex;
            flex-direction: column;

            .list-single-text {
              color: $white;
            }
          }
        }
      }

      .list-single-action {
        @include button($white, $aqua, $aqua);
        opacity: 1;
      }
    }
  }

  .dashboard-card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;

    .dashboard-card-icon {
      margin-bottom: 15px;
      min-width: 35px;
      text-align: center;

      .fa {
        font-size: 35px;
      }
    }

    .dashboard-card-data {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      min-width: 95px;

      .dashboard-card-data-title {
        color: $grey;
        font-size: $font-size-xxs;
        font-weight: 500;
        letter-spacing: $letter-spacing-xxs;
      }

      .dashboard-card-data-number {
        font-size: $font-size-lg;
        font-weight: bold;
        letter-spacing: $letter-spacing-xxs;
      }
    }

    .dashboard-card-percentage {
      color: $green2;
      margin-bottom: 15px;
      min-width: 90px;
      text-align: center;

      .fa {
        font-size: 15px;
        margin-right: 5px;
      }

      .dashboard-card-percentage-number {
        font-size: $font-size-md;
        font-weight: 500;
        letter-spacing: $letter-spacing-md;
      }
    }
  }

  .chart {
    display: block;
    height: 460px;
  }

  .orders {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 338px;

    .orders-left {
      flex-basis: 100%;
      max-width: 100px;
      text-align: center;

      .fa {
        display: block;
        font-size: 45px;
        margin: auto;
        margin-bottom: 10px;
      }
    }

    .orders-text {
      display: block;
      font-size: $font-size-xs;
      font-weight: bold;
      letter-spacing: $letter-spacing-lg;
      margin: auto;
      margin-bottom: 10px;
    }

    .orders-number {
      color: $aqua;
      display: block;
      font-size: $font-size-lg;
      font-weight: 900;
      letter-spacing: $letter-spacing-sm;
      margin: auto;
      margin-bottom: 15px;
    }

    .mat-button-toggle {
      background-color: $grey;
      color: $white;
      font-size: $font-size-xs;
      font-weight: bold;
      letter-spacing: $letter-spacing-xxs;
      margin-bottom: 20px;

      .mat-button-toggle-label {
        margin-bottom: 0;
      }

      &.mat-button-toggle-checked {
        background-color: $aqua;
        border-color: $aqua;
      }
    }

    .table-lines {
      .table-row {
        &:first-child {
          .table-cell {
            border-top: 0;
          }
        }

        .table-cell {
          padding: 15px;
          display: flex;
          justify-content: space-between;

          .order-title {
          }
          .order-value {
            color: $purple;
            font-weight: bold;
          }
        }
      }
    }

    .orders-right {
      flex-basis: 70%;

      .table {
        margin-bottom: 0;
      }
    }
  }

  .card-tabs {
    min-height: 378px;

    .chart-data-chart {
      margin: auto;
      min-height: 270px;
      min-width: 200px;
      position: relative;
      width: 270px;

      .fa {
        color: $grey8;
        font-size: 60px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: calc(50% - .5em);
      }
    }

    .chart-data-key {
      min-width: 160px;
    }
  }


  .dashboard-list-item-checkbox {
    margin-right: 25px;

    .mat-checkbox-inner-container {
      height: 18px;
      width: 18px;
    }

    &.mat-checkbox-checked {
      & ~ .dashboard-list-item-content {
        .dashboard-list-item-text {
          color: $purple;
          text-decoration: line-through;
        }

        .dashboard-list-item-sub {
          color: $purple;
        }
      }
    }
  }

  .dashboard-list-title {
    color: $grey;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.8px;
    margin-bottom: 30px;
    margin-top: 0;

    strong {
      color: $grey8;
    }
  }

  .dashboard-list {
    list-style: none;
    padding: 0;

    .dashboard-list-item {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .dashboard-list-item-image {
        height: 80px;
        text-align: center;
        width: 80px;

        &.image-circle {
          border-radius: 50%;
          height: 25px;
          width: 25px;
        }

        @media only screen and (max-width: $screen-xs-max) {
          height: 20px;
          width: 20px;
        }
      }

      .dashboard-list-item-title {
        color: $grey5;
        font-size: $font-size-xs;
        letter-spacing: $letter-spacing-xxs;
        margin-bottom: 5px;
        margin-top: 0;

        &.color-red {
          color: $red2;
          font-weight: bold;
        }
      }

      .dashboard-list-item-text {
        color: $black;
        display: block;
        font-size: $font-size-sm;
        font-weight: bold;
        letter-spacing: $letter-spacing-sm;
        margin-bottom: 5px;
      }

      .dashboard-list-item-sub {
        color: $grey5;
        display: block;
        font-size: $font-size-xs;
        letter-spacing: $letter-spacing-xxs;
      }

      .dashboard-list-item-action {
        align-items: flex-end;
        color: $grey;
        display: flex;
        flex-direction: column;
        opacity: 0;

        .fa {
          font-size: 20px;
        }
      }

      &:hover {
        .dashboard-list-item-action {
          opacity: 1;
        }
      }
    }

    .dashboard-list-item-content {
      flex-grow: 1;
      margin: 0 30px;
    }

    .dashboard-list-item-subcontent {
      display: flex;
      justify-content: space-between;
    }
  }

  .campaigns {
    .dashboard-list {
      .dashboard-list-item {
        &:not(:last-child) {
          border-bottom: 1px solid $grey4;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
      }

      .dashboard-list-item-title {
        color: $purple;
        font-size: $font-size-lg;
        letter-spacing: $letter-spacing-lg;
      }

      .dashboard-list-item-action {
        opacity: 1;

        .dashboard-list-item-action-text {
          font-size: $font-size-xxs;
          letter-spacing: $letter-spacing-xxs;
          margin-bottom: 15px;
        }

        .fa {
          &:not(:last-child) {
            margin-bottom: 10px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}
