<div class="card">

    <header class="row title">
      <div class="col-xs-12 text-center">
        <h2 class="main-title">BUSINESS PARTNER</h2>
      </div>
    </header>


    <form class="form-horizontal form-stacked" [formGroup]="formStacked">
  
      <div class="form-group">
        <div class="col-xs-12">
            <input class="btn btn-form btn-success" type="submit"  value="PETTY CASH"
                (click)="pettycash()">

        </div>
    </div>

        <div class="form-group" >
            <label class="form-label col-xs-12" [attr.for]="'contactdd'">CONTACTS</label>
            <div class="col-xs-12">
              <select class="form-control" formControlName="contactdd" [id]="'contactdd'" (change)="Selected($event.target.value)" >
                <option disabled selected hidden value="" [selected]="selectediem == true" > -- select an option -- </option>
                <option *ngFor="let item of dropdownlist" [value]="item">{{ item }}</option>
              </select>
            </div>
           
          </div>



        <mat-button-toggle-group name="singleSelect" vertical="true">
          <mat-button-toggle *ngFor="let item of contactList" (click)="onBPSelect(item)">{{ item }}</mat-button-toggle>
          
        </mat-button-toggle-group>
    </form>
    </div>

