<h1 mat-dialog-title>Bank Details:</h1>
<mat-dialog-content>
    <form [formGroup]="form" class="formly-wrapper">
        <formly-form
            [model]="data.formData"
            [fields]="fields"
            [options]="options"
            [form]="form"
        >
        </formly-form>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <a><i class="fa fa-trash faDelete" title="Delete"></i></a>
    <span class="fx-spacer"></span>
    <button mat-raised-button mat-dialog-close color="secondary">Cancel</button>
    <button
        mat-raised-button
        [mat-dialog-close]="true"
        color="primary"
        (click)="submit()"
        cdkFocusInitial
        [disabled]="!form.valid"
    >
        SAVE
    </button>
</mat-dialog-actions>
