.bgroud {
    background-color: black;
    height: 100%;
    margin: 0;
  }
  
  .block {
    display: block;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: yellow;
    color: yellow;
    background-color: black;
   // background-color: #4CAF50;
    //padding: 14px 28px;
   // padding: 20px;
   // margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
  
  }
  
  .my-grid-tile {
    margin-top: 100px;
    margin-left: 5% !important;
    margin-right: 5% !important;
  
  }
  
  .siteinfo {
    padding-top: 100px;
    float: bottom;
    color: yellow;
    margin: 0;
    text-align:center;
    font-size: 25px;
  }