<div>
  <div class="siteinfo">
    

<div margin-left="200px">
  <mat-grid-list cols="8" rowHeight="25px" class="my-grid-tile" gutterSize="20px" >

      <mat-grid-tile colspan="3">Clean Area 1 done?</mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-slide-toggle disableRipple class="mat-override" [checked]="true">
          <span class="mat-slide-toggle-label-on">YES</span>
          <span class="mat-slide-toggle-label-off">NO</span>
        </mat-slide-toggle>

      </mat-grid-tile>
      

    </mat-grid-list>
    <mat-grid-list cols="8" rowHeight="75px" class="my-grid-tile" gutterSize="20px" >

      <mat-grid-tile colspan="3">Clean Area 1 done?</mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-slide-toggle disableRipple class="mat-override" [checked]="true">
          <span class="mat-slide-toggle-label-on">YES</span>
          <span class="mat-slide-toggle-label-off">NO</span>
        </mat-slide-toggle>

      </mat-grid-tile>

    </mat-grid-list>
    <mat-grid-list cols="8" rowHeight="75px" class="my-grid-tile" gutterSize="20px" >

      <mat-grid-tile colspan="3">Clean Area 1 done?</mat-grid-tile>
      <mat-grid-tile colspan="1">
        <mat-slide-toggle disableRipple class="mat-override" [checked]="true">
          <span class="mat-slide-toggle-label-on">YES</span>
          <span class="mat-slide-toggle-label-off">NO</span>
        </mat-slide-toggle>

      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div> 


</div>