<div class="icon-bar">
    <!--   
      <div class="col-sm-10">
        <select class="">
          <option selected hidden value=""> -- select an option -- </option>
          <option *ngFor="let item of countries" [value]="item.iso">{{ item.name }}</option>
        </select>
      </div> -->
    
    <app-navbar-search-bar class="app-navbar-search-bar" (SearchEmit)="applyFilterTable($event)"></app-navbar-search-bar>
    
    <!-- 
      <mat-form-field class="app-search-bar" appearance="outline">
        <input matInput (keyup)="applyFilterTable($event.target.value)" placeholder="Filter by any field ...">
      </mat-form-field> -->
    
      
    
      <a (click)="onClick('HELP')"><i class="fa fa-question" title="Help"></i></a>
      <a (click)="onClick('PRINT')"><i class="fa fa-print" title="Print" ></i></a>
      <a (click)="onClick('REFRESH')"><i class="fa fa-filter" title="Filter" ></i></a>
      <a  (click)="onClick('REFRESH')"><i class="fa fa-refresh" title="Refresh"></i></a>
      <a (click)="onClick('DELETE')"><i class="fa fa-trash" title="Delete" ></i></a>
      <a  (click)="onClick('EDIT')"><i class="fa fa-edit" title="Edit"></i></a>
      <a  (click)="onClick('ADD')"><i class="fa fa-plus" title="Add"></i> </a>
      
      <a  (click)="onClick('ADD')"><i class="fa fa-bullseye " title="Add"></i> </a>
    
    
    </div>