@import '../../../styles/_variables';
@import '../../../styles/_mixins';

.icon-bar {
    width: 100%; /* Full-width */
  //  background-color:$doc-nav-bg-color; /* Dark-grey background */
    background-image: linear-gradient(to right,darken($brand-core1,10), darken($brand-core1,10 ));
    overflow: auto; /* Overflow due to float */
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px;
    padding-left:5px;
    height:55px;
    }

 .sb {
        float:left;
        width: 40%;
        padding: 12px 0; /* Some top and bottom padding */
    padding-right: 7px;
    padding-left: 7px;
    

  }
  
  .icon-bar a {
    float: right; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 8.3%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    padding-right: 7px;
    padding-left: 7px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: $brand-menu-item-color; /* White text color */
    font-size: 20px; /* Increased font size */
    max-width: 60px;
    cursor: pointer;
    
  }
  

  .icon-bar a:hover {
    background-color: darken($brand-core1,15); /* Add a hover color */
    color: $brand-menu-item-hover-color
  }
  
  .active {
    background-color: $brand-menu-item-active-background ; /* Add an active/current color */
  }


  .app-search-bar-list {
    max-width: 40%;
    padding-left: 30px;
    margin-left: 7px;
    margin-right: 7px;
    // position: relative;
   // border: solid;
    border-color: white;
    width: 550px;
    float: left;
    padding: 12px 0; /* Some top and bottom padding */
  }

  // app-search-bar-list {
  //   max-width: 45%;
  //   padding-left: 30px;
  //   position: relative;
  //   width: 350px;
  // }
 