<div class="add">
    <button mat-icon-button class="mat-fab-bottom-right" (click)="onDeleteClick()">
        <mat-icon>delete</mat-icon>
    </button>

    <div class="doc" (click)="onDocClickA()">
        <h3 class="mat-h3">
            <b>{{ conBusDoc.docSto.docName }} </b>
        </h3>

        Type: {{ conBusDoc.docSto.contentType }} <br />
        Comments: {{ conBusDoc.docSto.docComments }}
    </div>
</div>
