.ba {
    width: 100%;
    display: block;

    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    height: 65px;
}

// .doc {
//     width: 80%;
//     height: 100%;
//     float: left;

// }

a {
    width: 20%;
    float: right;
    color: red;
    text-align: right;
    vertical-align: top;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.add {
    border: 1px solid lightgrey;
    border-radius: 5px;
    min-height: 100px;
    width: 50%;
    min-width: 400px;
    padding: 5px;
    margin: 0px;
    position: relative;
}

.mat-fab-bottom-right {
    position: absolute;
    right: 2px;
    top: 2px;
}

td {
    padding-left: 10px;
}
