.wrapper {
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    z-index: 1002;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
  }
  
  .spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
  }