<div class="icon-bar">
<!--   
  <div class="col-sm-10">
    <select class="">
      <option selected hidden value=""> -- select an option -- </option>
      <option *ngFor="let item of countries" [value]="item.iso">{{ item.name }}</option>
    </select>
  </div> -->

<app-search-bar-list class="app-search-bar-list" (SearchEmit)="applyFilterTable($event)"></app-search-bar-list>

<!-- 
  <mat-form-field class="app-search-bar" appearance="outline">
    <input matInput (keyup)="applyFilterTable($event.target.value)" placeholder="Filter by any field ...">
  </mat-form-field> -->

  

  <a><i class="fa fa-question" title="Help" (click)="onClick('HELP')"></i></a>
  <a><i class="fa fa-print" title="Print" (click)="onClick('PRINT')"></i></a>
  <a><i class="fa fa-filter" title="Filter" (click)="onClick('REFRESH')"></i></a>
  <a><i class="fa fa-refresh" title="Refresh" (click)="onClick('REFRESH')"></i></a>
  <a><i class="fa fa-trash" title="Delete" (click)="onClick('DELETE')"></i></a>
  <a><i class="fa fa-edit" title="Edit" (click)="onClick('EDIT')"></i></a>
  <a><i class="fa fa-plus" title="Add" (click)="onClick('ADD')"></i> </a>
  
  <a><i class="fa fa-bullseye " title="Add" (click)="onClick('ADD')"></i> </a>


</div>