.bground {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-color: white !important;
}

.container {
    //  margin-top:20%;
    //  height: 100%;
    display: flex;
    flex-wrap: wrap;
    //   flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    /* Then we define how is distributed the remaining space */
    // justify-content: space-around;
}

.item {
    //  flex: 1;
    //  flex-grow: 1;
    //  flex-basis: 500px;
    margin: 10px;
    height: 200px;
    width: 200px;
    min-width: 200px;
    min-height: 200px;
    //    height: 25%;
}

.block {
    display: block;
    width: 100%;
    height: 100%;

    border: 3px solid black;
    color: black;
    background-color: whitesmoke;

    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    font-weight: 500;
}

.numPadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 33.3333%;
    border-radius: 20px;

    border: 1px solid black;
    color: black;
    background-color: whitesmoke;

    font-size: 30px;

    &:nth-of-type(10) {
        flex-basis: 66.6667%;
    }

    &:hover {
        //	background-color: $active;
    }
}
