
<div class="card card-tabs">
    <mat-tab-group class="tabs-folder">
  
      <!-- <mat-tab label="{{ 'banking.openBanking' | translate }}">
        <app-open-banking></app-open-banking>
      </mat-tab>
   -->
      <mat-tab label="OPEN BANKING">

        <app-open-banking></app-open-banking>
      </mat-tab>
      <mat-tab label="SETTINGS">
        <app-open-banking></app-open-banking>
      </mat-tab>
  
  
    </mat-tab-group>
  </div>