
@import '../../../styles/matTab';


@import '../../../styles/variables';
@import '../../../styles/material';

.row {
 height: 100%;
 margin: 0 auto;
}

.card-tab {
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
    height: 100%;
  display: block;
}

.card-tabs {
  min-height: 23px;
  padding: 0px;
  height: calc(100vh - 175px);
  
}
  

.mat-form-field {
  width: 250px;
}
.tabs-folder {
  width:100%;
  &.mat-tab-group {
    height: 100%;

    .mat-tab-header {
    //  margin-bottom: 15px;
    //  height: 60px;

      .mat-tab-labels {
   //     border-bottom: 2px;
       
     //   border-color: black;
      
        // background-color: rgb(243, 243, 243);
        // border-right: none;
         .mat-tab-label {
          max-width:100px!important;

         }
         
          // color: $brand-menu-item-color;
          // background-color: lighten($brand-core1,0);
       //   height: 35px;
          // border-top-left-radius: 15px;
          // border-top-right-radius: 15px;


          &:not(:first-child) {
            //border-top-left-radius: 6px;
          }

          &:not(:last-child) {
           // border-top-right-radius: 6px;
          }

          &.mat-tab-label-active {
            //background-color: $white;
          //   background-color: lighten($brand-core1,20);
          //   box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.06);
          //  // color: darken($brand-core1,10);
          //  color: $white;
          //   border-top-left-radius: 15px;
          //   border-top-right-radius: 15px;
          // }
          // border-color: violet;
          // border-bottom-style: solid;
        }
      }


    }

    .mat-tab-body {
      height: 100%
    }

    .mat-tab-body-content {
      padding: 10px;
      height: 100%
    }
  }
}


:host ::ng-deep .mat-tab-body-wrapper {
  padding: 10px;
  flex-grow: 1;
  height: calc(100% - 100px);
 //height: 500px;
 //display: block;
}



.tab-content-wrapper {
  padding: 10px 10px;  //30 15
  width: 100%;
  color: $white;
  height: calc(100% - 100px);
}

.tab-content-title {
  color: $brand-core1;
  font-size: $font-size-lg;
  font-weight: 300;
  letter-spacing: $letter-spacing-lg;
}

.tab-content-text {
  color: $grey;
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: $letter-spacing-xxs;
}
