<mat-card id="module-card">
    <mat-card-header>
        <mat-card-title>{{ data.displayName }}</mat-card-title>
        <button mat-icon-button class="module-card-button-top-right">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Email Address:</th>
                <td>{{ data.emailAddress }}</td>
            </tr>
            <tr>
                <th>Purpose:</th>
                <td>{{ data.purpose }}</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
