<div id="modal-form">
    <ngx-doc-viewer
        *ngIf="!pdfDoc"
        [url]="docUrl"
        viewerUrl="https:  //docs.google.com/gview?url=%URL%&embedded=true"
        style="width: 100%; height: 100%;"
    ></ngx-doc-viewer>

    <app-pdf-view *ngIf="pdfDoc" [url]="docUrl" style="width: 100%; height: 100%;"></app-pdf-view>
</div>
