@import '../../../../styles/variables';

app-side-menu-content {
    display: block;
    height: 100%;
    background-image: linear-gradient(to bottom, darken($brand-core1, 7), lighten($brand-core1, 5));

    .menu-item-icon {
        font-size: 20px;
        margin-right: 14px;
    }

    .simple-menu-item {
        height: 48px;
        padding: 0px 20px;
        background: transparent;
        color: $brand-menu-item-color;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.5px;
        cursor: pointer;

        display: flex;
        align-items: center;

        &:hover,
        &:focus {
            outline: 0;
            // background: darken($brand-core, 20);
            background: lighten($brand-core2, 20);
        }

        // &.active
        // {
        // 	// background: #FFF;
        // 	// color: #9012fe;
        // }
    }

    mat-expansion-panel.expandable-menu-item {
        // Resets
        box-shadow: none !important;
        background: transparent;
        color: $brand-menu-item-color;
        border-radius: 0px;

        // &.active
        // {
        // 	.mat-expansion-panel-header
        // 	{
        // 		background: #FFF;

        // 		// Resets
        // 		&:hover
        // 		{
        // 			background: #FFF !important;
        // 		}

        // 		.menu-item-icon
        // 		{
        // 			color: #9012fe;
        // 		}

        // 		.item-header-content
        // 		{
        // 			.expandable-item-title
        // 			{
        // 				color: #9012fe;
        // 			}

        // 			.expandable-item-description
        // 			{
        // 				color: rgba(#9012fe, .7);
        // 			}
        // 		}
        // 	}
        // }

        // &:not(.active)
        // {
        // 	.mat-expansion-panel-header
        // 	{
        // 		// Resets
        // 		&:hover,
        // 		&:focus
        // 		{
        // 			background: rgba(#000, 0.08);
        // 		}
        // 	}
        // }

        .mat-expansion-indicator:after {
            color: white;
        }

        .mat-expansion-panel-header {
            padding: 0px 20px;
            display: flex;
            align-items: center;

            .item-header-content {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                // Resets
                line-height: initial !important;
                color: white;
                .expandable-item-title {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    margin: 0px;

                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .expandable-item-description {
                    color: rgba(#fff, 0.7);
                    font-size: 11px;
                    font-weight: 300;

                    margin: 4px 0px 0px;

                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }

            //copy form above
            .item-header-content-sub {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                // Resets
                line-height: initial !important;
                color: white;
                padding: 0px 20px;
                .expandable-item-title {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    margin: 0px;

                    flex: 0 0 100%;
                    max-width: 100%;
                }

                .expandable-item-description {
                    color: rgba(#fff, 0.7);
                    font-size: 11px;
                    font-weight: 300;

                    margin: 4px 0px 0px;

                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        .mat-expansion-panel-body {
            padding: 0px 0px 16px 0px;
            // Reset
            margin: 0px;
            color: white;
        }

        .expandable-sub-item {
            height: 36px;
            padding: 0px 20px;
            background: transparent;
            color: $brand-menu-item-color;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.5px;
            cursor: pointer;

            border-left: 13px solid transparent;

            display: flex;
            align-items: center;

            &:hover,
            &:focus {
                outline: 0;
                background: lighten($brand-core1, 5);
            }

            &.active {
                background: lighten($brand-core1, 5); //rgba(#fff, 0.33);
                color: #fff;
                border-color: $brand-core2;
            }

            .icon-abbr {
                display: none;
            }
        }

        //copy from above
        .expandable-sub-item-sub {
            height: 36px;
            padding: 0px 40px;
            background: transparent;
            color: $brand-menu-item-color;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1.5px;
            cursor: pointer;

            border-left: 13px solid transparent;

            display: flex;
            align-items: center;

            &:hover,
            &:focus {
                outline: 0;
                background: darken($brand-core1, 20);
            }

            &.active {
                background: rgba(#fff, 0.33);
                color: #fff;
                border-color: #fae2ff;
            }

            .icon-abbr {
                display: none;
            }
        }
    }

    .condensed {
        .menu-item-icon {
            margin: 0px;
        }

        .simple-menu-item {
            padding: 0px;
            justify-content: center;

            .menu-item-title {
                display: none;
            }
        }

        .expandable-sub-item {
            justify-content: center;
            padding: 0px !important;

            .icon-abbr {
                font-size: 12px;
                display: block !important;
                font-family: 'Lato', 'Helvetica', sans-serif;
            }

            .menu-item-title {
                display: none;
            }
        }

        mat-expansion-panel-header {
            padding: 0px !important;

            .mat-content {
                justify-content: center;
            }

            .item-header-content {
                display: none !important;
            }

            .mat-expansion-indicator {
                display: none;
            }
        }
    }

    .version {
        color: white;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}
