<div class="card">

  <header class="row title">
    <div class="col-xs-12 text-center">
      <h2 class="main-title">INVOICE DATA</h2>
    </div>
  </header>

  <form class="form-horizontal form-stacked" [formGroup]="formStacked">

    <mat-button-toggle-group name="singleSelect" vertical="false" #group="matButtonToggleGroup" 
      (change)="onPSChange(group.value)" [(value)]="contactType">
      <mat-button-toggle  value="P">PURCHASE</mat-button-toggle>
      <mat-button-toggle  value="S">SALES</mat-button-toggle>

    </mat-button-toggle-group>
    <p></p>
    <mat-button-toggle-group name="singleSelect" vertical="false" #group2="matButtonToggleGroup"
      (change)="onICChange(group2.value)">

      <mat-button-toggle [checked]="IC == 'I'" value="I">INVOICE</mat-button-toggle>
      <mat-button-toggle [checked]="IC != 'I'" value="C">CREDIT</mat-button-toggle>
    </mat-button-toggle-group>


    <p></p>
    <div class="form-group">
      <label class="form-label col-xs-12" [attr.for]="'email_1'">Contact Code</label>
      <div class="col-xs-12">
        <input class="form-control"  [(ngModel)]="servers.revCardCode" formControlName="revCardCode" readonly=true>
      </div>
      {{ cardName }}
    </div>


    <div class="form-group">
      <label class="form-label col-xs-12" [attr.for]="'email_1'">Date</label>
      <div class="col-sm-12">
        <input type="text" class="form-control date-input" [matDatepicker]="picker" placeholder="Choose a date" formControlName="revDate" readonly=true
        [(ngModel)]=servers.revDate>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>

    <div class="form-group">
      <label class="form-label col-xs-12" [attr.for]="'email_1'">Tax Amount</label>
      <div class="col-xs-12">
        <input class="form-control"  #rev_tax_amount formControlName="revTaxAmount" [(ngModel)]="servers.revTaxAmount">
        VAT Rate: {{ servers.revTaxAmount / (servers.revTotalAmount / 1.2 ) | percent }}
        <input class="btn" type="submit" value="AUO CALC" (click)="autoCalcVAT()">
    
    </div>
  </div>
  
    

    <div class="form-group">
      <label class="form-label col-xs-12" [attr.for]="'email_1'">Total Amount</label>
      <div class="col-xs-12">
        <input class="form-control" formControlName="revTotalAmount"  [(ngModel)]="servers.revTotalAmount">
      </div>  
    </div>



    <div class="form-group">
      <div class="col-xs-12">
        
          <input class="btn btn-success" type="submit" value="SUBMIT"
            (click)="sendComplete()">
            
          <input class="btn btn-warning" type="submit" value="QUERY"
          (click)="sendQuery()">
      

          <input class="btn btn-danger" type="submit" value="DELETE"
            (click)="sendDelete()">
        
      </div>
    </div>

    <p></p>
 <h4 style="color:red;">  {{ alertVAT }}
    {{ alertCredit }}</h4> 
  </form>

</div>