<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.employee.dashboard.label' | translate  }}</span>
</a>



<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-plane"></i>
<span class="menu-item-title">{{ 'menu.employee.holiday.label' | translate  }}</span>
</a>


<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-leanpub"></i>
<span class="menu-item-title">{{ 'menu.employee.training.label' | translate  }}</span>
</a>



<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tasks"></i>
<span class="menu-item-title">{{ 'menu.employee.tasks.label' | translate  }}</span>
</a>

<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-users"></i>
<span class="menu-item-title">{{ 'menu.employee.communications.label' | translate  }}</span>
</a>

