<app-data-table-navbar 
  (FilterEmit)="applyFilter($event)"
  (itemClick)="navBarItemClick($event)"
  ></app-data-table-navbar>

<app-app-spinner-wrapper [showSpinner]="isLoading" [message]="loadingMessage">

<div class="row">
    
  <div class="col-xs-12">
      <div class="card">
    

      <div class="row">
        <div class="col-xs-12 table-wrapper">
          <table mat-table [dataSource]="dataSource" class="table table-stripes" matSort #sortTable1="matSort">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" 
                  (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnHeader[tableData] | translate }} </th>
              <td mat-cell *matCellDef="let element"> {{element[tableData] }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns" (click)="getRecord(row)"></tr>
          </table>
        
        </div>

    </div>
  </div>
</div>
</div>

</app-app-spinner-wrapper>