
<app-item-navbar-list ></app-item-navbar-list>

<div class= "row">
  <div class="col-xs-12">
    <div class="card">

    
      <div class="row">
        <div class="col-xs-12 table-wrapper">
          <table mat-table [dataSource]="dataSource" class="table table-stripes">

            <!-- <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
               <mat-checkbox (change)="$event ? masterToggle() : null"
                             [checked]="selection.hasValue() && isAllSelected()"
                             [indeterminate]="selection.hasValue() && !isAllSelected()">
               </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
               <mat-checkbox (click)="$event.stopPropagation()"
                             (change)="$event ? selection.toggle(row) : null"
                             [checked]="selection.isSelected(row)">
               </mat-checkbox>
              </td>
            </ng-container> -->

            <ng-container matColumnDef="picture">
                <th mat-header-cell *matHeaderCellDef> Picture </th>
                <td mat-cell *matCellDef="let element">
                  <img class="profile-pic" [src]="element.logoUrl">
                </td>
              </ng-container>


            <ng-container matColumnDef="companyCode">
              <th mat-header-cell *matHeaderCellDef> Company Code </th>
              <td mat-cell *matCellDef="let element"> {{element.companyCode}} </td>
            </ng-container>

            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef> Company Name </th>
              <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>

          

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>

          
          </table>

          <mat-paginator #paginatorTable2 class="paginator" [pageSizeOptions]="[5, 10, 25]" [pageSize]="5"></mat-paginator>


        </div>
      </div>
    </div>
  </div>
</div>