<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.supplier.dashboard.label' | translate  }}</span>
</a>



<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.supplier.purchaseorders.label' | translate  }}</span>
</a>


<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.supplier.workorders.label' | translate  }}</span>
</a>

