<div class="tab_header">
        <div class="tab_header_text"> BIRKIN CLEANING</div>
        <img class="img_logo" src="https://www.birkingroup.co.uk/sites/default/files/birkin-logo.png"
          alt="Birkin Group logo">
      </div>



<div margin-left="200px">
    <mat-grid-list cols="2" rowHeight="200px" class="my-grid-tile" gutterSize="20px" >

        <mat-grid-tile><button type="button" (click)="onClick('CLIENT')" class="block"><i class="fa fa-clock-o fa-5x" ></i><br><br><b>CLIENT</b></button></mat-grid-tile>

        <mat-grid-tile><button type="button" (click)="onClick('EMPLOYEE')" class="block"><i class="fa fa-user fa-5x" ></i><br><br><b>EMPLOYEE</b></button></mat-grid-tile>
        
        <mat-grid-tile><button type="button" (click)="onClick('BACKOFFICE')" class="block"><i class="fa fa-plane fa-5x" ></i><br><br><b>BACK OFFICE</b></button></mat-grid-tile>


      </mat-grid-list>
    </div>



<div class="footer"><b>Trust & Integrity | We Care | Genuine People | Passion To Be The Best</b></div>

