<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.customer.dashboard.label' | translate  }}</span>
</a>



<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.customer.contract.label' | translate  }}</span>
</a>


<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.customer.auditscores.label' | translate  }}</span>
</a>


<a class="simple-menu-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"
[routerLink]="['/']">
<i class="menu-item-icon fa fa-tachometer"></i>
<span class="menu-item-title">{{ 'menu.customer.hoursdelivery.label' | translate  }}</span>
</a>

