<app-item-navbar
    (itemClick)="itemClick($event)"
    [recordNav]="employeeStoreService.selectedRecordString"
    [text]=""
    [edit]="employeeStoreService._formStateDisabled"
></app-item-navbar>

<div id="tab-wrapper">
    <div class="card-tabs">
        <mat-tab-group
            class="tabs-folder"
            id="tab-group"
            (selectedTabChange)="tabChanged($event)"
        >
            <mat-tab label="{{ 'payroll.employee.person' | translate }}">
                <div id="tab-body-wrapper">
                    <app-contact-person
                        [(value)]="employeeStoreService.currentRecord"
                        [formStateDisabled]="
                            employeeStoreService._formStateDisabled
                        "
                    ></app-contact-person>
                </div>
            </mat-tab>

            <mat-tab label="{{ 'payroll.employee.item' | translate }}">
                <div id="tab-body-wrapper">
                    <app-employee-item-details></app-employee-item-details>
                </div>
            </mat-tab>

            <mat-tab
                id="contactMethodList"
                label="{{ 'payroll.employee.address' | translate }}"
            >
                <div id="tab-body-wrapper">
                    <button
                        (click)="onClick_address()"
                        class="mat-raised-button mat-button-base mat-primary"
                    >
                        ADD
                    </button>
                    <app-contact-meth-card
                        class="col-6 clicker"
                        *ngFor="
                            let doc of employeeStoreService.currentRecord
                                .conBusCons;
                            let i = index
                        "
                        [contactData]="doc"
                        long-press
                        (onLongPress)="
                            contactMethModalService.toggleMultiSelect()
                        "
                        (click)="contactMethModalService.openModal(doc)"
                    ></app-contact-meth-card>
                </div>
            </mat-tab>

            <mat-tab
                id="contactRtwList"
                label="{{ 'payroll.employee.rtw' | translate }}"
            >
                <div id="tab-body-wrapper">
                    <button
                        (click)="onClick_rtw()"
                        class="mat-raised-button mat-button-base mat-primary"
                    >
                        ADD
                    </button>
                    <app-contact-rtw-card
                        class="col-6 clicker"
                        *ngFor="
                            let doc of employeeStoreService.currentRecord
                                .conBusRtw;
                            let i = index
                        "
                        [contactData]="doc"
                        long-press
                        (onLongPress)="toggleMultiSelect()"
                        (click)="contactRtwModalService.openModal(doc)"
                    ></app-contact-rtw-card>
                </div>
            </mat-tab>

            <mat-tab
                id="contactDbsList"
                label="{{ 'payroll.employee.dbs' | translate }}"
            >
                <div id="tab-body-wrapper">
                    <app-contact-dbs-card
                        class="col-6 clicker"
                        *ngFor="
                            let doc of employeeStoreService.currentRecord
                                .conBusDbs;
                            let i = index
                        "
                        [contactData]="doc"
                        long-press
                        (onLongPress)="toggleMultiSelect()"
                        (click)="onClickContactMethod(doc)"
                    ></app-contact-dbs-card>
                </div>
            </mat-tab>

            <mat-tab
                id="contactContractsList"
                label="{{ 'payroll.employee.contract' | translate }}"
            >
                <div id="tab-body-wrapper">
                    <button
                        (click)="onClick_cont()"
                        class="mat-raised-button mat-button-base mat-primary"
                    >
                        ADD
                    </button>
                    <br />
                    <app-contact-cont-card
                        class="col-6 clicker"
                        *ngFor="let doc of contractDetails; let i = index"
                        [contactCont]="doc"
                        long-press
                        (onLongPress)="toggleMultiSelect()"
                        (click)="contactContItemModalService.openModal(doc)"
                    ></app-contact-cont-card>
                </div>
            </mat-tab>

            <mat-tab
                id="documents"
                label="{{ 'contact-tab.documents' | translate }}"
            >
                <app-doc-cards
                    [conBusId]="employeeStoreService.currentRecord.id"
                ></app-doc-cards>
            </mat-tab>

            <mat-tab label="{{ 'payroll.employee.cos' | translate }}">
                <div id="tab-body-wrapper"></div>
            </mat-tab>

            <mat-tab id="bankDetails" label="BANK DETAILS">
                <div id="tab-body-wrapper">
                    <button
                        (click)="onClick_bank_details()"
                        class="mat-raised-button mat-button-base mat-primary"
                    >
                        ADD
                    </button>
                    <app-contact-bank-card
                        class="col-6 clicker"
                        *ngFor="let doc of myDoc; let i = index"
                        [contactData]="doc"
                        long-press
                        (onLongPress)="toggleMultiSelect()"
                        (click)="contactBankItemModalService.openModal(doc[0])"
                    ></app-contact-bank-card>
                </div>
            </mat-tab>
            <mat-tab id="qr_code" label="Qr Code">
                <div id="tab-body-wrapper">
                    <button
                        (click)="onClick_scanner()"
                        class="mat-raised-button mat-button-base mat-primary"
                    >
                        Scan
                    </button>
                    <app-qr-code-generator [data]="all_data_qr">
                    </app-qr-code-generator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
