
<!-- 

            <div >
                <mat-grid-list cols="2" rowsHeight="100px" height= "400px" class="myGridList" gutterSize="20px" >

                    <mat-grid-tile (click)="onClick('TABLET')"><button type="button" class="block"><i class="fa fa-tablet fa-5x"></i><br><br><b>TABLET</b></button></mat-grid-tile>
                    <mat-grid-tile (click)="onClick('OFFICE')"><button type="button" class="block"><i class="fa fa-building-o fa-5x"></i><br><br><b>OFFICE</b></button></mat-grid-tile>
            
                    <mat-grid-tile (click)="onClick('EMPLOYEE')"><button type="button" class="block"><i class="fa fa-users fa-5x"></i><br><br><b>EMPLOYEE</b></button></mat-grid-tile>
                    <mat-grid-tile (click)="onClick('CUSTOMER')"><button type="button" class="block"><i class="fa fa-briefcase fa-5x"></i><br><br><b>CUSTOMER</b></button></mat-grid-tile> 
                                        
                    <mat-grid-tile (click)="onClick('SUPPLIER')"><button type="button" class="block"><i class="fa fa-plane fa-5x"></i><br><br><b>SUPPLIER</b></button></mat-grid-tile>
                    <mat-grid-tile (click)="onClick('API')"><button type="button" class="block"><i class="fa fa-connectdevelop fa-5x"></i><br><br><b>API</b></button></mat-grid-tile>
                    
                  </mat-grid-list>
  
</div> -->

<div class="bground">

<div class="container">
    <div class="item" (click)="onClick('CUSTOMER')"><button type="button" class="block"><i class="fa fa-briefcase fa-5x"></i><br><br><b>CUSTOMER</b></button></div>
    <div class="item" (click)="onClick('tab')"><button type="button" class="block"><i class="fa fa-tablet fa-5x"></i><br><br><b>TABLET</b></button></div>
    <div class="item" (click)="onClick('EMPLOYEE')"><button type="button" class="block"><i class="fa fa-users fa-5x"></i><br><br><b>EMPLOYEE</b></button></div>
    <div class="item" (click)="onClick('OFFICE')"><button type="button" class="block"><i class="fa fa-building-o fa-5x"></i><br><br><b>OFFICE</b></button></div>  
    <div class="item" (click)="onClick('SUPPLIER')"><button type="button" class="block"><i class="fa fa-plane fa-5x"></i><br><br><b>SUPPLIER</b></button></div>   
    <div class="item" (click)="onClick('API')"><button type="button" class="block"><i class="fa fa-connectdevelop fa-5x"></i><br><br><b>API</b></button></div>  
 
</div>