@import '../../styles/_variables';
@import '../../styles/_mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
  
  .image {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
  //  background-image:url('../../../assets/imgs/loginbackground.jpg');
  background: radial-gradient(
  $brand-core1,
    $brand-core2
  );
 }

  .image-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:20px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('../../../assets/imgs/logo.jpg');

  }


.signin {
  position: absolute;
  width: 500px;
  height: 550px;
  margin-left: -250px;
  margin-top: -275px;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 25px;
  padding: 20px; 
  
}

// .form-control {
//   margin-top: 20px;
//   color: white;
//   font: 30px;
// }

  .diva {
    height: 100%
  }

  .signin-title {
    color:  $brand-core1;
    font-size: $font-size-lg;
    font-weight: 300;
    letter-spacing: $letter-spacing-lg;
    margin-bottom: 20px;
    text-align: center;
  }

  .modal-title {
    color: $brand-core1;
    font-size: $font-size-lg;
    font-weight: 500;
    letter-spacing: $letter-spacing-lg;
    margin-bottom: 20px;
    text-align: center;
  }


.modal-login {
  display: flex;
  max-width: 100%;
  text-align: center;
  width: 800px;

  .modal-login-form {
    flex-basis: 100%;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    .brand-logo {
      margin: auto;
      width: 80px;
    }

    // .modal-title {
    //   color: $purple;
    //   font-size: $font-size-lg;
    //   font-weight: 300;
    //   letter-spacing: $letter-spacing-lg;
    //   margin-bottom: 20px;
    //   text-align: center;
    // }

    .form-control {
      &[type='text'] {
        margin-bottom: 30px;
      }

      &[type='password'] {
        margin-bottom: 25px;
      }
    }

    mat-checkbox {
      display: block;
      margin-bottom: 15px;

      .mat-checkbox-layout {
        .mat-checkbox-frame {
          border-color: $grey;
        }

        .mat-checkbox-label {
          color: $grey;
          font-size: $font-size-xs;
          letter-spacing: $letter-spacing-xxs;
        }
      }
    }

    .recover-password {
      color: $grey;
      font-size: $font-size-xs;
      letter-spacing: $letter-spacing-xxs;
    }

    .login-btns {
      display: flex;
      margin-bottom: 15px;
      margin-top: 20px;

      .btn {
        &.btn-login {
          @include button($grey, $white, $grey);
          margin-right: 35px;
          margin-left: 35px;
        }

        &.btn-signin {
          @include button($white, rgb(0,175,224), rgb(0,175,224));
          margin-left: 15px;
        }
      }
    }

    .login-divider {
      align-items: center;
      color: $grey8;
      display: flex;
      letter-spacing: $letter-spacing-sm;
      margin-bottom: 15px;

      .line {
        flex-grow: 1;
      }

      span {
        margin: 0  15px;
      }
    }

    .fb-signin {
      @include button($white, $blue-fb, $blue-fb);

      .fa {
        font-size: 20px;
        line-height: $font-size-md;
        margin-left: 20px;
        vertical-align: bottom;

        @media only screen and (max-width: 830px) {
          display: none;
        }
      }
    }

    @media only screen and (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .modal-login-image {
    flex-basis: 100%;
    position: relative;

    .background-image {
      background-image: url('/assets/imgs/utils/login-modal.jpeg');
      background-position: center;
      background-size: cover;
      bottom: -24px;
      left: 0;
      position: absolute;
      right: -24px;
      top: -24px;
    }
  }
}
