
                    <form class="form-horizontal">
                        <input type="text" class="form-control" [(ngModel)]="username" placeholder="EMAIL" [ngModelOptions]="{standalone: true}" autocomplete="on">
                        <input type="password" class="form-control" [(ngModel)]="password" placeholder="PASSWORD" [ngModelOptions]="{standalone: true}" autocomplete="on">
                      
                        <a href="javascript:void(0)" class="recover-password">Forgot password?</a>
                        <div class="login-btns">
                            <input type="submit" class="form-control btn btn-signin" (click)="login()" value="SIGN IN">
                        </div>
                    </form>
