<div class="tab-card">
    <!-- <button mat-icon-button class="mat-fab-bottom-right" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
    </button> -->
    <!-- <mat-checkbox class="mat-fab-bottom-right"></mat-checkbox> -->
    <h3 class="mat-h3">
        <!-- <b>{{ contactData[0].id }}</b> -->
        <!-- <b>{{ contactData[0].docType }} - {{ contactData[0].header }} </b> -->
    </h3>

    <table>
        <tr>
            <td>
                <h3><b>Bank Details:</b></h3>
            </td>
        </tr>
        <tr>
            <td>
                <div *ngIf="contactData[0].id">
                    <b>ID: </b>{{ contactData[0].id }}<br />
                </div>
                <div *ngIf="contactData[0].conBusId">
                    <b>conBusID: </b>{{ contactData[0].conBusId }}<br />
                </div>
                <div *ngIf="contactData[0].validFrom">
                    <b>Valid From: </b>{{ contactData[0].validFrom }}<br />
                </div>
                <div *ngIf="contactData[0].validTo">
                    <b>Valid To: </b>{{ contactData[0].validTo }}<br />
                </div>
                <div *ngIf="contactData[0].docStatus">
                    <b>Document Status: </b>{{ contactData[0].docStatus }}<br />
                </div>
                <div *ngIf="contactData[0].bankName">
                    <b>Bank Name: </b>{{ contactData[0].bankName }}<br />
                </div>
                <div *ngIf="contactData[0].branchName">
                    <b>Branch Name: </b>{{ contactData[0].branchName }}<br />
                </div>
                <div *ngIf="contactData[0].sortCode">
                    <b>Sort Code: </b>{{ contactData[0].sortCode }}<br />
                </div>
                <div *ngIf="contactData[0].accountNo">
                    <b>Account No: </b>{{ contactData[0].accountNo }}<br />
                </div>
                <div *ngIf="contactData[0].accountName">
                    <b>Account Name: </b>{{ contactData[0].accountName }}<br />
                </div>
                <div *ngIf="contactData[0].rollNo">
                    <b>Roll No: </b>{{ contactData[0].rollNo }}<br />
                </div>
                <div *ngIf="contactData[0].paymentReference">
                    <b>Payment Reference: </b
                    >{{ contactData[0].paymentReference }}<br />
                </div>
                <div *ngIf="contactData[0].iban">
                    <b>IBan: </b>{{ contactData[0].iban }}<br />
                </div>
                <div *ngIf="contactData[0].swift">
                    <b>Swift: </b>{{ contactData[0].swift }}<br />
                </div>
                <div *ngIf="contactData[0].bacsReference">
                    <b>BACS Reference: </b>{{ contactData[0].bacsReference
                    }}<br />
                </div>
            </td>
        </tr>
    </table>
</div>
