<div class="bground">
    <div class="container">
        <div
            class="item"
            (click)="onClickLibrary(a)"
            *ngFor="let a of tabDocumentStoreService._groupedRecords"
        >
            <button type="button" class="block">
                <i class="fa fa-book fa-5x"></i><br /><br /><b>{{ a.name }}</b>
            </button>
            <!-- <button *ngIf="!viewLibrary" type="button" class="block"><b>{{ a.docSto.docName }}</b></button> -->
        </div>
    </div>
</div>

<!-- <div class="footer"><i class="fa fa-times fa-5x" aria-hidden="true" (click)="onClickClose()"></i></div> -->
