<div class="card">

    <header class="row title">
        <div class="col-xs-12 text-center">
            <h2 class="main-title">CONTACT QUICK DATA</h2>
        </div>
    </header>


   

    <form class="form-horizontal form-stacked" [formGroup]="formStacked">

            <mat-button-toggle-group name="singleSelect" vertical="true" #group="matButtonToggleGroup" (change)="onContactTypeChange(group.value)" >
                    <mat-button-toggle checked="true" value="SUPPLIER" >SUPPLIER</mat-button-toggle>
                    <mat-button-toggle checked="false" value="CUSTOMER">CUSTOMER</mat-button-toggle>
                </mat-button-toggle-group>

                <p></p>
                <p></p>
        <div class="form-group">
            <label class="form-label col-xs-12">CONTACT NAME</label>
            <div class="col-xs-12">
                <input class="form-control" [(ngModel)] ='cardName' formControlName="cardName">
            </div>
        </div>



        <div class="form-group">
            <label class="form-label col-xs-12" >POST CODE</label>
            <div class="col-xs-12">
                <input class="form-control" [(ngModel)] ='post_code' formControlName="post_code">
            </div>
        </div>


        <div class="form-group">
            <label class="form-label col-xs-12" [attr.for]="'email_1'">VAT Number</label>
            <div class="col-xs-12">
                <input class="form-control"  [(ngModel)] ='vat' formControlName="vat">
            </div>
        </div>
        

        <div class="form-group">
                <label class="form-label col-xs-12" [attr.for]="'email_1'">OTHER</label>
                <div class="col-xs-12">
                    <input class="form-control"  [(ngModel)] ='other' formControlName="vat">
                </div>
            </div>

   

            <div class="form-group" >
                    <label class="form-label col-xs-12" [attr.for]="'nominal'">DEFAULT NOMINAL</label>
                    <div class="col-xs-12">
                      <select class="form-control" formControlName="nominal" [id]="'nominal'" (change)="Selected($event.target.value)" >
                        <option disabled selected hidden value=""> -- select an option -- </option>
                        <option *ngFor="let item of nominalList" [value]="item">{{ item }}</option>
                      </select>
                    </div>
                   
                  </div>




        <div class="form-group">
            <div class="col-xs-12">
                <input class="btn btn-form btn-success" type="submit"  value="ADD"
                    (click)="onAddNew()">

            </div>
        </div>


    </form>

</div>