.my_container_row {
    display: flex;
    justify-content: space-evenly;
}

.my_container_col {
    display: flex;
    width: auto;
    height: 500px;
    flex-flow: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
