$anms-light-primary: mat-palette($mat-indigo, 700, 300, 900);
$anms-light-accent: mat-palette($mat-light-blue);
$anms-light-warn: mat-palette($mat-deep-orange, A200);

$anms-light-theme: mat-light-theme(
  $anms-light-primary,
  $anms-light-accent,
  $anms-light-warn
);