$anms-def-primary: mat-palette($mat-grey, 200, 500, 300);
$anms-def-accent: mat-palette($mat-brown, 200);
$anms-def-warn: mat-palette($mat-deep-orange, 200);

$anms-def-theme: mat-def-theme(
  $anms-def-primary,
  $anms-def-accent,
  $anms-def-warn
);