<h2>Hello</h2>
<div *ngIf="isLoaded" class="row">
    <div class="col-md-6">
        {{ servers.id }}
    </div>

    <div class="col-md-3">
        <app-doc-ocr
            [servers]="servers"
            [contactType]="contactType"
            [cardName]="cardName"
            (messageEvent)="receiveMessage($event)"
        ></app-doc-ocr>
    </div>

    <div class="col-md-3">
        <app-doc-ocr-bp
            [servers]="servers"
            [revCardCode]="quickAddCardCode"
            [refreshview]="refreshview"
            (messageEvent)="recieveSelectedCardCode($event)"
        ></app-doc-ocr-bp>
        <app-con-bus-quickadd
            [ocrCardName]="servers.taggun_merchantname"
            (messageEvent)="recieveAddedCardCode($event)"
        ></app-con-bus-quickadd>
    </div>
</div>
