<!-- <div class="tab_background" *ngIf="router.url === '/'"> -->
<div *ngIf="loading">
    <div class="container">
        <div class="row">
            <div id="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="loading"></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!loading">
    <div *ngIf="userSession.appType === 'TAB'; then TAB; else BO"></div>

    <ng-template #TAB>
        <div [class]="'theme-wrapper ' + (theme$ | async)">
            <app-responsive-breakpoints></app-responsive-breakpoints>

            <app-tabheader class="main-navbar-container"></app-tabheader>

            <div *ngIf="!userSession.loggedIn">
                <app-register></app-register>
            </div>

            <!-- <div *ngIf="userSession.loggedIn"> -->
            <div class="tabBody">
                <router-outlet></router-outlet>
            </div>

            <app-tabfooter class="main-navbar-container"></app-tabfooter>
        </div>
    </ng-template>

    <ng-template #BO>
        <div *ngIf="!userSession.loggedIn">
            <app-login></app-login>
        </div>

        <div *ngIf="userSession.loggedIn">
            <app-responsive-breakpoints></app-responsive-breakpoints>

            <app-top-navbar-content class="main-navbar-container" [notifications]="notifications" [messages]="messages">
            </app-top-navbar-content>

            <div class="main-content-container">
                <mat-sidenav-container #drawerContainer class="">
                    <mat-sidenav #sideMenu mode="side" [opened]="open_menu" position="start" class="main-sidenav">
                        <app-side-menu-content></app-side-menu-content>
                    </mat-sidenav>
                    <div class="mat-light-theme">
                        <div class="container-fluid main-content-outer">
                            <!-- <app-breadcrumb></app-breadcrumb> -->
                            <router-outlet></router-outlet>
                        </div>
                    </div>

                    <mat-sidenav #sideNotifications mode="over" opened="false" position="end" class="notificaitons-sidenav">
                        <app-notifications-menu-content [notifications]="notifications"> </app-notifications-menu-content>
                    </mat-sidenav>
                </mat-sidenav-container>
            </div>
        </div>
    </ng-template>
</div>
