zxing-scanner {
    max-width: 50%;
}

.results {
    position: sticky;
    bottom: 0;
    padding: 15px;
    background: #02c3c3;
    color: #fff;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    small {
        font-weight: bolder;
        display: block;
        font-size: 60%;
        margin: -0.6em 0 0 0;
    }

    button {
        background: none;
        border: none;
        line-height: 1;
        font-weight: bolder;
        font-size: 120%;
        float: right;
        color: #fff;
        $mg: 8px;
        margin: (-$mg) (-$mg) (-$mg) $mg;
    }
}

h2 {
    padding: 0 16px;
}
