<div class="search-bar-wrapper">
    <i class="search-bar-icon fa fa-search"></i>
    <input class="search-bar-input" type="text" matInput [formControl]="searchBar" (keyup)="emitText($event.target.value)" placeholder="Search here">
  </div>
  