
 

    <div margin-left="200px">
        <mat-grid-list cols="2" rowHeight="200px" class="my-grid-tile" gutterSize="20px">

            <mat-grid-tile (click)="onClick('CLOCKING')"><button type="button" class="block"><i
                        class="fa fa-clock-o fa-5x"></i><br><br><b>CLOCKING</b></button></mat-grid-tile>

            <mat-grid-tile><button type="button" class="block"><i
                        class="fa fa-tasks fa-5x"></i><br><br><b>TASKS</b></button></mat-grid-tile>

            <mat-grid-tile (click)="onClick('DOCUMENTS')"><button type="button" class="block"><i
                        class="fa fa-book fa-5x"></i><br><br><b>DOCUMENTS</b></button></mat-grid-tile>
                        
            <mat-grid-tile><button type="button" class="block"><i class="fa fa-users fa-5x"></i><br><br><b>BIRKIN
                        COMMUNICATIONS</b></button></mat-grid-tile>


            <mat-grid-tile><button type="button" class="block"><i class="fa fa-plane fa-5x"></i><br><br><b>HOLIDAY
                        REQUESTS</b></button></mat-grid-tile>
            <mat-grid-tile><button type="button" class="block"><i
                        class="fa fa-shopping-cart fa-5x"></i><br><br><b>MATERIALS ORDERING</b></button></mat-grid-tile>

            <mat-grid-tile><button type="button" class="block"><i
                        class="fa fa-leanpub fa-5x"></i><br><br><b>TRAINING</b></button></mat-grid-tile>

            <mat-grid-tile (click)="onClick('DNA')"><button type="button" class="block"><i
                        class="fa fa-heart fa-5x"></i><br><br><b>BIRKIN DNA</b></button></mat-grid-tile>

        </mat-grid-list>




 <div class="tab_footer">
   
           
        <i class="fa fa-times fa-5x cancel_button"></i>

    </div> 

</div>