.bgroud {
  background-color: rgb(17,24,32);
  height: 100%;
  margin: 0;
}

.block {
  display: block;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: rgb(255,213,23);
  color: rgb(255,213,23);
  background-color: rgb(17,24,32);
 // background-color: #4CAF50;
  //padding: 14px 28px;
 // padding: 20px;
 // margin: 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;

}

.my-grid-tile {
  margin-top: 75px;
  margin-left: 5% !important;
  margin-right: 5% !important;

}

.siteinfo {
  padding-top: 12 0px;
  float: bottom;
  color: rgb(255,213,23);
  margin: 0;
  text-align:center;
  font-size: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  text-align:center;
  width: 100%;
  color: rgb(0,175,224);
  padding-bottom: 25px;
  font-size: 25px;
}