app-condense {
	display: block;
	position: relative;
	overflow-x: auto;
	height: 100%;
	padding: 30px 0px;

	.condense-wrapper
	{
		overflow-x: hidden;
	}
}

.condense-toggle-wrapper
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 20px;

	&::before
	{
	  content: '';
	  width: 2px;
	  height: 100%;
	  position: absolute;
	  left: 5px;
	}

	.condense-toogle
	{
		visibility: hidden;
		width: 20px;
		height: 50px;
		padding: 15px 0px;
		position: absolute;
		top: calc(50% - 25px);
		padding-left: 5px;
		cursor: pointer;

		&::before
		{
		  display: block;
			width: 15px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			font-size: 18px;
			color: #4d0092;
			content: '|';
		}

		&:hover::before
		{
			content: '<';
		}
	}

	&:hover
	{
		cursor: ew-resize;

		&::before
		{
		  background: #2684FF;
		}

		.condense-toogle
		{
			visibility: visible;
		}
	}

	&.condensed
	{
		.condense-toogle:hover::before
		{
			content: '>';
		}
	}
}
