<app-item-navbar
    (itemClick)="itemClick($event)"
    [recordNav]=""
    [text]=""
    [edit]=""
></app-item-navbar>

<div id="tab-wrapper">
    <div class="card-tabs">
        <mat-tab-group class="tabs-folder" id="tab-group">
            <mat-tab label="{{ 'communications.settings.item' | translate }}">
                <div id="tab-body-wrapper">
                    <app-communications-settings-email-item-details></app-communications-settings-email-item-details>
                </div>
            </mat-tab>

            <mat-tab
                label="{{ 'communications.settings.emailFrom' | translate }}"
            >
                <div id="tab-body-wrapper">
                    <app-communications-settings-email-item-card
                        class="clicker"
                        [data]="a"
                        *ngFor="
                            let a of communicationsSettingsEmailStoreService
                                .currentRecord.comSysEmaFros
                        "
                    ></app-communications-settings-email-item-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
