<app-item-navbar
    (itemClick)="itemClick($event)"
    [recordNav]="locationStoreService.selectedRecordString"
    [text]=""
    [edit]="locationStoreService._formStateDisabled"
></app-item-navbar>

<div id="wrapper">
    <div class="card card-tabs">
        <mat-tab-group
            class="tabs-folder"
            id="tab-group"
            (selectedTabChange)="tabChanged($event)"
        >
            <mat-tab label="{{ 'contact-tab.site' | translate }}">
                <app-location-item></app-location-item>
            </mat-tab>

            <mat-tab
                id="contactMethodList"
                label="{{ 'contact-tab.contactMethodList' | translate }}"
            >
                <div id="tab-body-wrapper">
                    <app-contact-meth-card
                        class="col-6 clicker"
                        *ngFor="
                            let doc of locationStoreService.currentRecord
                                .conBusCons;
                            let i = index
                        "
                        [contactData]="doc"
                        long-press
                        (onLongPress)="toggleMultiSelect()"
                        (click)="onClickContactMethod(doc)"
                    ></app-contact-meth-card>
                    <!-- https://stackoverflow.com/questions/41118448/angular2-click-and-ngif -->
                </div>
            </mat-tab>

            <mat-tab
                id="documents"
                label="{{ 'contact-tab.documents' | translate }}"
            >
                <app-doc-cards
                    [conBusId]="locationStoreService.currentRecord.id"
                ></app-doc-cards>
            </mat-tab>

            <mat-tab
                id="tab-devices"
                label="{{ 'contact-tab.tab-devices' | translate }}"
            >
                <app-device-cards
                    [conBusId]="locationStoreService.currentRecord.id"
                ></app-device-cards>
            </mat-tab>
        </mat-tab-group>
    </div>

    <!-- <input #button type="button" long-press (onLongPress)="testlog()" /> -->
</div>
