<div id="tab-body-wrapper">
    
    <div id="cards-wrapper-button">
        <button mat-raised-button color="primary" (click)="openAddFileDialog()">Add</button>
    </div>
    
    
    <app-contact-meth-card
        class="col-6 clicker"
        *ngFor="let doc of contactMethService._dataStore; let i = index"
        [contactData]="doc"
        (click)="onClick(i)"
    ></app-contact-meth-card>
</div>
