<div id="tab-body-wrapper">
    <form [formGroup]="form">
        <formly-form [model]="locationStoreService.currentRecord" [fields]="fields" [options]="options" [form]="form"> </formly-form>
    </form>
</div>
