<div class="icon-bar">
    <div *ngIf="!edit">
        <a (click)="onClick('ITEM_ADD')"
            ><i class="fa fa-plus" title="Add"></i>
        </a>

        <a (click)="onClick('ITEM_DELETE')"
            ><i class="fa fa-trash" title="Delete"></i
        ></a>
        <a (click)="onClick('SAVE')"><i class="fa fa-save" title="Save"></i></a>
    </div>

    <div *ngIf="edit">
        <a (click)="onClick('ACTION')"
            ><i class="fa fa-bullseye" title="Action"></i>
        </a>

        <a (click)="onClick('ADD')"><i class="fa fa-plus" title="Add"></i> </a>

        <a (click)="onClick('EDIT')"><i class="fa fa-edit" title="Edit"></i></a>
        <a (click)="onClick('DELETE')"
            ><i class="fa fa-trash" title="Delete"></i
        ></a>

        <a (click)="onClick('REFRESH')"
            ><i class="fa fa-refresh" title="Refresh"></i
        ></a>

        <div class="NavButtons">
            <a (click)="onClick('FIRST')"
                ><i class="fa fa-backward" title="First"></i
            ></a>
            <a (click)="onClick('PREVIOUS')"
                ><i class="fa fa-arrow-left" title="Previous"></i
            ></a>
            <div class="textAreaRecordNav">{{ recordNav }}</div>
            <a (click)="onClick('NEXT')"
                ><i class="fa fa-arrow-right" title="Next"></i
            ></a>
            <a (click)="onClick('LAST')"
                ><i class="fa fa-forward" title="End"></i
            ></a>
        </div>
        <a (click)="onClick('PRINT')"
            ><i class="fa fa-print" title="Print"></i
        ></a>
        <a (click)="onClick('SETTINGS')"
            ><i class="fa fa-cog" title="Settings"></i
        ></a>
        <a (click)="onClick('HELP')"
            ><i class="fa fa-question" title="Help"></i
        ></a>

        <div div class="ContactName">
            <div class="textArea">{{ text }}</div>
        </div>
    </div>
</div>
