<div class="bground">
    <div class="container">
        <h2>ENTER PAYROLL NUMBER</h2>

        <div class="wrap">
            <br />
            <input class="tbox" [(ngModel)]="payNo" />
            <br />
            <br />
            <div class="numpad">
                <div class="numPadButton" (click)="onClick('1')">1</div>
                <div class="numPadButton" (click)="onClick('2')">2</div>
                <div class="numPadButton" (click)="onClick('3')">3</div>
                <div class="numPadButton" (click)="onClick('4')">4</div>
                <div class="numPadButton" (click)="onClick('5')">5</div>
                <div class="numPadButton" (click)="onClick('6')">6</div>
                <div class="numPadButton" (click)="onClick('7')">7</div>
                <div class="numPadButton" (click)="onClick('8')">8</div>
                <div class="numPadButton" (click)="onClick('9')">9</div>
                <div class="numPadButton" (click)="onClick('0')">0</div>
                <div class="numPadButton" (click)="onClick('Go')">Go</div>
            </div>
        </div>
    </div>
</div>
