@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.tbox {
    width: 420px;
    font-size: 60px;
    border: none;
    text-align: center;
}

.wrap {
    margin: 0 auto;
    text-align: center;
}

.numpad {
    width: 420px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 33.3333%;
    border-radius: 20px;

    background-color: rgb(18, 18, 82);
    font-size: 30px;
    color: white;
    border: 1px solid white;

    &:nth-of-type(10) {
        flex-basis: 66.6667%;
    }

    &:hover {
        //	background-color: $active;
    }
}
