<h1 mat-dialog-title>File Upload</h1>
<div mat-dialog-content>
    <div>
        <form [formGroup]="form">
            <formly-form
                [model]=""
                [fields]="fields"
                [options]="options"
                [form]="form"
            >
            </formly-form>
            <app-file-upload
                (fileListUploaded)="onfileListUploaded($event)"
            ></app-file-upload>
        </form>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-raised-button mat-dialog-close color="secondary">
        CANCEL
    </button>
</div>
