<div id="tab-body-wrapper">
    <div id="cards-wrapper-button">
        <button mat-raised-button color="primary" (click)="openAddFileDialog()">Add</button>
    </div>

    <div id="card-card-wrapper">
        <app-device-card
            class="clicker"
            [device]="a"
            (conBusDocOut)="onDocClick(a)"
            *ngFor="let a of deviceStoreService._filterRecords"
        ></app-device-card>
    </div>
</div>
