<!-- <div class="col-xs-12">
  <div class="card files-upload">

    <div appFileUpload class="dropzone" (filesChangeEmiter)="onDropzoneMultipleChange($event, 'files')">
      <button type="button" class="btn btn-upload" (click)="fileDialogFiles.click()" [disabled]="loading">
        <span class="fa fa-cloud-upload"></span>
        <span> Upload a file(s)</span>
        <i class="fa fa-spinner fa-spin" *ngIf="loading" ></i>
      </button>
      <input #fileDialogFiles (change)="onMultipleChange($event, 'files')" type="file" multiple />
    </div>

    <div *ngIf="displayDocList">
      <ul class="dropzone-list">
        <li class="dropzone-list-item" *ngFor="let file of uploaders.files.list">
     
          <div class="dropzone-list-item-info">
            <span>{{ file.name }}</span>
            <mat-progress-bar *ngIf="(file.progress >= 0)" [value]="file.progress"
              class="mat-progress-bar-round color color-aqua">
            </mat-progress-bar>
            <span>
              {{ file.loaded }} KB of {{ file.total }} KB ({{ file.progress }}% done)
            </span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div> -->

<div class="col-xs-12">
    <div class="card files-upload">
        <ul class="dropzone-list">
            <li class="dropzone-list-item" *ngFor="let file of uploaders.files.list">
                <span class="fa fa-file-o"></span>
                <div class="dropzone-list-item-info">
                    <span>{{ file.name }}</span>
                    <mat-progress-bar *ngIf="file.progress >= 0" [value]="file.progress" class="mat-progress-bar-round color color-aqua">
                    </mat-progress-bar>
                    <span> {{ file.loaded }} KB of {{ file.total }} KB ({{ file.progress }}% done) </span>
                </div>
            </li>
        </ul>

        <div appFileUpload class="dropzone" (filesChangeEmiter)="onDropzoneMultipleChange($event, 'files')">
            <button type="button" class="btn btn-upload" (click)="fileDialogFiles.click()">
                <span class="fa fa-cloud-upload"></span>
                <span>Drop files here to upload or choose file</span>
            </button>
            <input #fileDialogFiles (change)="onMultipleChange($event, 'files')" type="file" multiple />
        </div>
    </div>
</div>
