<div class="card card-tabs">
    <mat-tab-group class="tabs-folder">

        <mat-tab label="{{ 'settngs.relationship-settings' | translate  }}">
            <app-relationship-settings>
            </app-relationship-settings>
        </mat-tab>

    </mat-tab-group>
</div>