
  .bground {
    width:100%;
 //   height: 100vh;
 min-height: 100vh;
    margin: 0;
    display: flex;
   padding-top: 60px;
    background-size: cover;
   background-image: url("/assets/imgs/tab/login-background.jpg");
   background-color: transparent;
   }
  
  .block {
    display: block;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(18, 18, 82);;
    color: rgb(18, 18, 82);;
   // background-color: rgb(17,24,32);
    background-color:transparent;
    //padding: 14px 28px;
    padding: 5px;
   // margin: 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    font-weight: 500;
  
  }

  .container {
  //  margin-top:20%;
  //  height: 100%;
    display: flex;
    flex-wrap: wrap;
 //   flex-flow: row wrap;
   align-items: center;
   justify-content: center;
  
  /* Then we define how is distributed the remaining space */
 // justify-content: space-around;
  }

  .Aligner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item {
  //  flex: 1;
  //  flex-grow: 1;
  //  flex-basis: 500px;
    margin: 10px;
    height: 200px;
    width:200px;
    min-width:200px;
    min-height:200px;
//    height: 25%;
  }

  /* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

  .myGridList {
    height: 100%;
}
  
  .my-grid-tile {
    margin-top: 75px;
    height: 100px;
    margin-left: 5% !important;
    margin-right: 5% !important;
   }
  
  .siteinfo {
    padding-top: 12 0px;
    float: bottom;
    color: rgb(255,213,23);
    margin: 0;
    text-align:center;
    font-size: 25px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align:center;
    width: 100%;
    color: rgb(0,175,224);
    padding-bottom: 25px;
    font-size: 25px;
  }