

<div class="bground">



        <div class="container">
          <div class="item" (click)="onClick('clockin')"><button type="button" class="block"><i
                class="fa fa-sign-in fa-5x"></i><br><br><b>CLOCK IN</b></button></div>
          <div class="item" (click)="onClick('clockout')"><button type="button" class="block"><i
                class="fa fa-sign-out fa-5x"></i><br><br><b>CLOCK OUT</b></button></div>
         
        </div>
      
      
      
      
      </div>