<app-data-table-navbar (FilterEmit)="applyFilter($event)" (itemClick)="navBarItemClick($event)"></app-data-table-navbar>

<app-app-spinner-wrapper [showSpinner]="isLoading" [message]="loadingMessage">

  <div class="card">
    <div class="table-wrapper">
      <table mat-table [dataSource]="dataSource" class="table table-stripes" matSort #sortTable1="matSort">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnHeader[tableData] | translate }} </th>
          <td mat-cell *matCellDef="let element">
            {{ getNest(element, tableData )}}
       
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns" (click)="getRecord(row)"></tr>
      </table>
      <mat-paginator #paginatorTable class="paginator" [pageSizeOptions]="[25, 50, 100, 300, 500]" [pageSize]="25">
      </mat-paginator>

    </div>

  </div>
</app-app-spinner-wrapper>