<mat-sidenav-container #drawerContainer class="sidenav">
  <div class="cbd">
    <app-open-banking-item
        class="col-6 clicker" 
        *ngFor="let doc of _plaidData; let i = index"
        [contactData]="doc" 
        (click)="onClick(i)" >
      </app-open-banking-item>
  
    <button mat-fab color="primary" class="add-button" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- Add  -->
  <mat-sidenav #sideNotifications mode="over" [(opened)]="_showAdd" position="start" class="notificaitons-sidenav">
    <a (click)="onClickExit()"><i class="fa fa-times fa-4x" title="EXIT"></i></a>

    <mat-tab-group class="tabs-folder">
      <mat-tab label=" PLAID ">
        <app-open-banking-link></app-open-banking-link>
      </mat-tab>
    
    </mat-tab-group>

  </mat-sidenav>

  <!-- Edit -->
  <mat-sidenav #sideNotifications mode="over" [(opened)]="_showAcc" position="end" class="notificaitons-sidenav">


    <mat-tab-group class="tabs-folder">
      <mat-tab label="">
        <!-- <app-contact-meth (itemClick)="itemClick($event)" [rowNum]="rowNum"></app-contact-meth> -->
      </mat-tab>

      <mat-tab label="">
        <!-- <app-contact-meth-pur (itemClick)="itemClick($event)"></app-contact-meth-pur> -->
      </mat-tab>
      <a (click)="onClickExit()"><i class="fa fa-times fa-4x" title="EXIT"></i></a>
    </mat-tab-group>

  </mat-sidenav>
</mat-sidenav-container>