<div class="col-sm-12">
    <div class="card-tabs">

      <mat-tab-group  disableRipple [@.disabled]="true" class="tabs-folder">
        
        <mat-tab label="GENERAL">
           <div class="card card-tab">
           
           </div>
        </mat-tab>
      
        <!-- SPECIFIC AREAS-->
 
        <mat-tab label="SUPPLIER">
             <div class="card card-tab">
              
              </div>
           </mat-tab>
 
 
        <!--GENERIC INFO FOR ALL CONTACTS -->
        
        <mat-tab label="CONTACT">
           <div class="card card-tab">
             
            </div>
         </mat-tab>
 
         <mat-tab label="COMMUNICATIONS">
             <div class="card card-tab">
                
              </div>
         </mat-tab>
  
         <mat-tab label="RELATIONSHIP">
             <div class="card card-tab">
                
              </div>
           </mat-tab>
  
           <mat-tab label="NOTES">
               <div class="card card-tab">
              
                </div>
           </mat-tab>
  
           <mat-tab label="DOCUMENTS">
               <div class="card card-tab">
                
                </div>
           </mat-tab>
  
           <mat-tab label="TASKS">
               <div class="card card-tab">
                 
                </div>
           </mat-tab>
 
      </mat-tab-group>
 

     </div>


     </div>
 