<a
    class="simple-menu-item"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    [routerLink]="['/']"
>
    <i class="menu-item-icon fa fa-tachometer"></i>
    <span class="menu-item-title">{{
        'menu.office.dashboard.label' | translate
    }}</span>
</a>

<!-- Contact section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-users"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.contact.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contact/contact-list']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.contact.contacts.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr91']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.contact.communications.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr92']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.contact.tasks.label' | translate
        }}</span>
    </a>
</mat-expansion-panel>

<!-- CRM section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection1="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-trophy"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.crm.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.crm.targets.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/asda']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.crm.liveOpportunities.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/accounting/salesledger/quote']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.crm.quotes.label' | translate
        }}</span>
    </a>
</mat-expansion-panel>

<!-- Accounting section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection2="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <span class="material-icons menu-item-icon">
            account_balance
        </span>

        <!-- <i class="menu-item-icon fa fa-gbp"></i> -->
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.accounting.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>

    <!-- Nominal section -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection3="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-gbp"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.nominal.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/a1']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.nominal.nominalAccounts.label'
                    | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/b2']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.nominal.nominalJournals.label'
                    | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/c3']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">VAT</span>
        </a>
    </mat-expansion-panel>

    <!-- Sales Ledger section -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection4="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-gbp"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.salesLedger.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/accounting/customers']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.salesLedger.customers.label' | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/accounting/salesledger/quote']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.SalesLedger.quotes.label' | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/asd6']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.SalesLedger.invoices.label' | translate
            }}</span>
        </a>
    </mat-expansion-panel>

    <!-- Purchase section -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection5="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-gbp"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.purchaseLedger.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/ocr7']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.purchaseLedger.suppliers.label'
                    | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/asd8']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.purchaseOrders.label' | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/accounting/ocr']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.purchaseLedger.incomingDocuments.label'
                    | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/accounting/ocr2']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.purchaseLedger.invoices.label'
                    | translate
            }}</span>
        </a>
    </mat-expansion-panel>

    <!-- BANK -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection6="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-gbp"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.bank.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/banking/account']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.bank.bankAccounts.label' | translate
            }}</span>
        </a>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/banking/settings']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.bank.settings.label' | translate
            }}</span>
        </a>
    </mat-expansion-panel>

    <!-- Documents section -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection7="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-gbp"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.documents.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- FIXED ASSETS -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection8="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-table"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.fixedAssets.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/ocr11']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.fixedAssets.listing.label' | translate
            }}</span>
        </a>
    </mat-expansion-panel>

    <!-- stock section -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection9="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-table"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.stock.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
    </mat-expansion-panel>

    <!-- LEASE -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #ocrExpandableSection10="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <!-- <i class="menu-item-icon fa fa-table"></i> -->
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.accounting.lease.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>
        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/contacts/ocr12']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.accounting.lease.listing.label' | translate
            }}</span>
        </a>
    </mat-expansion-panel>
</mat-expansion-panel>

<!-- CONTRACT MGT. -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection11="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <!-- <i class="menu-item-icon fa fa-handshake-o"></i> -->
        <span class="material-icons menu-item-icon">
            work
        </span>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.contractMgt.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/location/location-list']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.contractMgt.sites.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/devices/list']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.contractMgt.devices.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/devices/awaiting']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.contractMgt.devices.awaiting.label' | translate
        }}</span>
    </a>
</mat-expansion-panel>

<!-- TIME ATTENDANCE section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection12="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <span class="menu-item-icon material-icons">
            phone_locked
        </span>
        <!-- <i class="menu-item-icon fa fa-table"></i> -->
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.timeAttendance.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/timeatt/employees']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.timeAttendance.employees.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/timeatt/face']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.timeAttendance.face.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/location']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.timeAttendance.sites.label' | translate
        }}</span>
    </a>
</mat-expansion-panel>

<!-- PAYROLL section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection121="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-table"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.payroll.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/payroll/employees']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.payroll.employees.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/payroll/employeeimport']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.payroll.employeesImport.label' | translate
        }}</span>
    </a>
</mat-expansion-panel>

<!-- HUMAN RESOURCES -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection13="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-heartbeat"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.humanResources.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr14']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.humanResources.jobApplicants.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr15']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.humanResources.employeeScreening.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr16']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.humanResources.cases.label' | translate
        }}</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr17']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.humanResources.reportingf.label' | translate
        }}</span>
    </a>
</mat-expansion-panel>

<!-- Communications -->
<mat-expansion-panel
    class="expandable-menu-item"
    #communicationsExpandableSection="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-life-ring"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.communications.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>

    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/communications/events']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.communications.events.label' | translate
        }}</span>
    </a>

    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/communications/templates']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.communications.templates.label' | translate
        }}</span>
    </a>

    <!-- Settings section -->
    <mat-expansion-panel
        class="expandable-menu-item"
        #communicationsSettingsExpandableSection="routerLinkActive"
        [expanded]="false"
        [routerLinkActive]="['active']"
    >
        <mat-expansion-panel-header>
            <div class="item-header-content-sub">
                <mat-panel-title class="expandable-item-title">{{
                    'menu.office.communications.settings.label' | translate
                }}</mat-panel-title>
            </div>
        </mat-expansion-panel-header>

        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/communications/settings/mobiles']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.communications.settings.mobiles.label' | translate
            }}</span>
        </a>

        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/communications/settings/letters']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.communications.settings.letters.label' | translate
            }}</span>
        </a>

        <a
            class="expandable-sub-item-sub"
            [routerLinkActive]="['active']"
            [routerLink]="['/office/communications/settings/emails']"
        >
            <span class="icon-abbr">RT</span>
            <span class="menu-item-title">{{
                'menu.office.communications.settings.emails.label' | translate
            }}</span>
        </a>
    </mat-expansion-panel>
</mat-expansion-panel>

<!-- HEALTH & SAFETY -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection14="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-life-ring"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.healthSafety.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr18']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">{{
            'menu.office.healthSafety.incidents.label' | translate
        }}</span>
    </a>
</mat-expansion-panel>

<!-- REPORTING section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection15="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-print"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.reporting.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
</mat-expansion-panel>

<!-- SYSTEM section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection16="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <i class="menu-item-icon fa fa-cog"></i>
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.system.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/contacts/ocr19']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">Settings</span>
    </a>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        (click)="selectTablet()"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">App Select</span>
    </a>
</mat-expansion-panel>

<!-- TENANTS section -->
<mat-expansion-panel
    class="expandable-menu-item"
    #ocrExpandableSection17="routerLinkActive"
    [expanded]="false"
    [routerLinkActive]="['active']"
>
    <mat-expansion-panel-header>
        <span class="menu-item-icon material-icons">
            business
        </span>
        <!-- <i class="menu-item-icon fa fa-cog"></i> -->
        <div class="item-header-content">
            <mat-panel-title class="expandable-item-title">{{
                'menu.office.tenants.label' | translate
            }}</mat-panel-title>
        </div>
    </mat-expansion-panel-header>
    <a
        class="expandable-sub-item"
        [routerLinkActive]="['active']"
        [routerLink]="['/office/tenant']"
    >
        <span class="icon-abbr">RT</span>
        <span class="menu-item-title">CHANGE TENANT</span>
    </a>
</mat-expansion-panel>

<div class="version">
    <span> {{ version }}</span>
</div>
