<div class="bground">
    <div class="container">
        <div class="item" (click)="onClick('USERNAME')">
            <button type="button" class="block">
                <i class="fa fa-key fa-5x"></i><br /><br /><b>PIN NUMBER</b>
            </button>
        </div>
        <div class="item" (click)="onClick('BIOMERTIC')">
            <button type="button" class="block">
                <i class="fa fa-eye fa-5x"></i><br /><br /><b
                    >FACIAL RECOGNITION</b
                >
            </button>
        </div>
    </div>
</div>
