

  .container {
    height: 100%;
    display: flex;
   // flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  
  /* Then we define how is distributed the remaining space */
 // justify-content: space-around;
  }

  
  .item {
  //  width: 300px;
    margin: 10px;
    width: 100%;
    height: 100%;
    flex-grow: 1;

  //  min-height: 200px;
  }


  .Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    
    width: 100%;
    height: 100%;
  }
  
  .Aligner-item {
    max-width: 100%;
    height: 300px;
  }
  
  .Aligner-item--top {
    align-self: flex-start;
  }
  
  .Aligner-item--bottom {
    align-self: flex-end;
  }

  .block {
    display: block;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgb(255,213,23);
    color: rgb(255,213,23);
    background-color: rgb(17,24,32);
   // background-color: #4CAF50;
    //padding: 14px 28px;
   // padding: 20px;
   // margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    margin-right: 20px;
  
  }