<!-- <div class="footer"><i class="fa fa-times fa-5x" aria-hidden="true" (click)="onClickClose()"></i></div> -->
<div class="bground">
    <!-- <app-doc-view class="container" [docStoId]="docStoId"></app-doc-view> -->
    <div class="container">
        <ngx-doc-viewer
            class="views"
            *ngIf="!pdfDoc"
            [url]="docUrlGoogle"
            viewer="google"
            style="width: 100%; height: 100vh;"
        ></ngx-doc-viewer>

        <app-pdf-view *ngIf="pdfDoc" [url]="docUrlPdf"></app-pdf-view>

        <!-- <iframe [src]="newSrc" width="1366px" height="623px" frameborder="0"
        >This is an embedded <a target="_blank" href="http://office.com">Microsoft Office</a> document, powered by
        <a target="_blank" href="http://office.com/webapps">Office Online</a>.</iframe
    > viewerUrl="https:  //docs.google.com/gview?url=%URL%&embedded=true"-->
    </div>
</div>
