.bground {
    width: 100%;
    //   height: 100vh;
    min-height: 100vh;
    margin: 0;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    // background-size: cover;
    // background-image: url('/assets/imgs/tab/login-background.jpg');
    //  background-color: #cccccc;
}

.container {
    height: 90vh;
    width: 100%;
    min-height: 80vh;
    display: block;
    z-index: 0;
    //  margin-top:20%;
    //  height: 100%;
    //     display: flex;
    //     flex-wrap: wrap;
    //  //   flex-flow: row wrap;
    //    align-items: center;
    //    justify-content: center;

    /* Then we define how is distributed the remaining space */
    // justify-content: space-around;
}

// ngx-doc-viewer {
//     height: 100%;
//     min-height: 100vh;
//     z-index: 0;
// }

#modal-form {
    height: 100%;
    width: 100%;
}

.views {
    width: 100%;
    height: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    color: red;
    padding-bottom: 25px;
    font-size: 25px;
    z-index: 1;
}
