<div class="tab-card" [class.tab-card-selected]="contactData.selected">

    <!-- <button mat-icon-button class="mat-fab-bottom-right" (click)="onDelete()">
        <mat-icon>delete</mat-icon>
    </button> -->
    <!-- <mat-checkbox class="mat-fab-bottom-right"></mat-checkbox> -->

    <h3 class="mat-h3">
        <b>{{ contactData.docType }} - {{ contactData.header }} </b>
    </h3>


    <div *ngIf="contactData.default">
        <span class="material-icons">
            favorite
        </span>
    </div>

    <table>
        <tr
            *ngIf="
                contactData.line1 ||
                contactData.line2 ||
                contactData.line3 ||
                contactData.line4 ||
                contactData.line5 ||
                contactData.zipCode
            "
        >
            <th style="vertical-align: top;">Address:</th>
            <td>
                <div *ngIf="contactData.line1">
                    {{ contactData.line1 }}<br />
                </div>
                <div *ngIf="contactData.line2">
                    {{ contactData.line2 }}<br />
                </div>
                <div *ngIf="contactData.line3">
                    {{ contactData.line3 }}<br />
                </div>
                <div *ngIf="contactData.line4">
                    {{ contactData.line4 }}<br />
                </div>
                <div *ngIf="contactData.line5">
                    {{ contactData.line5 }}<br />
                </div>
                <div *ngIf="contactData.zipCode">
                    {{ contactData.zipCode }}<br />
                </div>
            </td>
        </tr>
        <tr *ngIf="contactData.mobile">
            <th>Mobile:</th>
            <td>{{ contactData.mobile }}</td>
        </tr>
        <tr *ngIf="contactData.landline">
            <th>Telephone:</th>
            <td>{{ contactData.landline }}</td>
        </tr>
        <tr *ngIf="contactData.fax">
            <th>Fax:</th>
            <td>{{ contactData.fax }}</td>
        </tr>
        <tr *ngIf="contactData.email || contactData.email2">
            <th style="vertical-align: top;">Email:</th>
            <td>
                {{ contactData.email }} <br />
                {{ contactData.email2 }}
            </td>
        </tr>
        <tr *ngIf="contactData.website">
            <th>Website:</th>
            <td>{{ contactData.website }}</td>
        </tr>
    </table>
</div>
