<div class="tab-card" [class.tab-card-selected]="selected">
    <table>
        <tr>
            <th>Document Type:</th>
            <td>{{ conBusRtw.docType }}</td>
        </tr>
        <tr>
            <th>Check Date:</th>
            <td>{{ conBusRtw.checkDate }}</td>
        </tr>
        <tr>
            <th>Expiry Date:</th>
            <td>{{ conBusRtw.rtwExpiryDate }}</td>
        </tr>
    </table>
</div>
