<div class="bground">
    <div class="containerReg">
        <h1 class="mat-h1">
            <p><strong> DEVICE REGISTRATION</strong></p>
        </h1>

        <h2 class="mat-h2">
            <div *ngIf="!userSessionService.registrationCode; else elseBlockCode"><p>Waiting for link code from server...</p></div>
            <ng-template #elseBlockCode
                ><p>CODE: {{ userSessionService.registrationCode }}</p></ng-template
            >
        </h2>
        <br />
        <br />
        <br />
        <br />
    </div>
    <app-app-spinner *ngIf="!userSessionService.registrationCode; else elseBlock"></app-app-spinner>
    <ng-template #elseBlock>Device checks every 15 seconds for approval. </ng-template>
</div>
