.container-wrapper {
    margin-top: 350px;
}

.example-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontally, in this case */
    height: 500px;
}

.example-container > * {
    width: 30%;
}

.item {
    width: 100%;
}

.icon-form-field {
    position: relative;
    display: flex;
    height: 65.5px;
    align-items: center;

    mat-placeholder {
        flex: 2 1 auto;
    }
}

mat-icon {
    margin: 0 6px 6px 0;
    font-size: 20px;
}

mat-form-field {
    flex: 1 0 auto;
}

.containerReg {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.bground {
    text-align: center;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 300px;
    background-size: cover;
    //background-image: url("/assets/imgs/tab/login-background.jpg");
    // background-color:transparent;
}
