<div id="tab-body-wrapper">
    <div id="cards-wrapper-button">
        <button mat-raised-button color="primary" (click)="onAddClick()">Add</button>
    </div>
    <div id="card-card-wrapper">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let doc of documentStoreService._groupedRecords">
                <mat-expansion-panel-header>
                    {{ doc.name }}
                </mat-expansion-panel-header>
                <app-doc-card
                    class="clicker"
                    [conBusDoc]="a"
                    (conBusDocOut)="onDocClick(a)"
                    (conBusDocDelete)="onDocDelete(a)"
                    *ngFor="let a of doc.values"
                ></app-doc-card>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
