.clicker {
    cursor: pointer;
}

.add-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.notificaitons-sidenav {
    &.mat-drawer {
        max-width: 97%;
        //  overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.cbd {
    height: 100%;
    width: 100%;
    background: white;
}

mat-sidenav-container.mat-sidenav-container,
mat-sidenav.main-sidenav {
    //	height: calc(100vh - 280px);
    height: 100%;
}

#wrapper {
    padding: 16px;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box; /*new*/
}
#tab-group {
    height: 100%;
}
#tab-group mat-tab-body {
    flex-grow: 1;
}
.tabs-folder {
    height: 100%;
    display: inline;
}
