<div class="image">
    <div [@popOverState]="stateName" class="signin">
        <div class="modal-login">
            <div class="modal-login-form">
                <a *ngFor="let item of data; let i = index">{{data.companyCode}}</a>
            </div>
        </div>
    </div>
</div>


