<div class="tab-card" [class.tab-card-selected]="selected">
    <table>
        <tr *ngFor="let item of contactCont | keyvalue">
            <td>
                <div>
                    <b>{{ item.key }}: </b>{{ item.value }}
                </div>
            </td>
        </tr>
    </table>
</div>
