<div class="branding-col">
    <div class="brand-wrapper">
        <img class="brand-logo" src="assets/imgs/logo3.png" alt="Angular" (click)="navigateAppSelect()" />
        <h3 class="brand-name">{{ companyName }}</h3>
    </div>
</div>

<div class="actions-wrapper">
    {{ siteCodeName }}
</div>
