<app-condense #condenseMenu [ngClass]="condenseMenu.menuState">
    <div *ngIf="app === 'OFFICE'">
        <app-side-menu-content-office></app-side-menu-content-office>
    </div>
    <!-- <div *ngIf="router.url.startsWith('/customer')">
    <app-side-menu-content-customer></app-side-menu-content-customer>
  </div>
  <div *ngIf="router.url.startsWith('/supplier')">
    <app-side-menu-content-supplier></app-side-menu-content-supplier>
  </div>
  <div *ngIf="router.url.startsWith('/employee')">
    <app-side-menu-content-employee></app-side-menu-content-employee>
  </div> -->
</app-condense>
<div class="condense-toggle-wrapper" [ngClass]="{ condensed: condenseMenu.menuState == 'condensed' }">
    <span (click)="condenseMenu.toggleState()" class="condense-toogle"></span>
</div>
