@import '../../styles/variables';

.footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    text-align: center;

    width: 100%;
    color: white;
    font-size: 8px;
    z-index: 5;
    height: 60px;
    background-color: darken($brand-core1, 10);
    box-shadow: $shadow-container;
}

i {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
