<div class="footer">
    <!-- <i class="fa fa-home fa-5x" aria-hidden="true" (click)="onClickClose()"></i> -->
    <i class="fa fa-chevron-left fa-5x" aria-hidden="true" (click)="routeBack()"></i>
</div>
