<div class="bground">
    <div class="container">
        <div class="item" (click)="onClick('LOGIN')">
            <button type="button" class="block">
                <i class="fa fa-clock-o fa-5x"></i><br /><br /><b
                    >CLOCK IN/OUT</b
                >
            </button>
        </div>
        <div class="item" (click)="onClick('LOGIN')">
            <button type="button" class="block">
                <i class="fa fa-sign-in fa-5x"></i><br /><br /><b
                    >EMPLOYEE LOGIN</b
                >
            </button>
        </div>
        <div class="item" (click)="onClick('ISSUE')">
            <button type="button" class="block">
                <i class="fa fa-exclamation fa-5x"></i><br /><br /><b
                    >REPORT AN ISSUE</b
                >
            </button>
        </div>
        <div class="item" (click)="onClick('LIBRARY')">
            <button type="button" class="block">
                <i class="fa fa-book fa-5x"></i><br /><br /><b>DOCUMENTS</b>
            </button>
        </div>
    </div>
</div>
