<app-item-navbar
    (itemClick)="itemClick($event)"
    [recordNav]=""
    [text]=""
    [edit]=""
></app-item-navbar>

<div id="tab-wrapper">
    <div class="card-tabs">
        <mat-tab-group class="tabs-folder" id="tab-group">
            <mat-tab label="{{ 'communications.event.item' | translate }}">
                <div id="tab-body-wrapper">
                    <app-communication-event-item-details></app-communication-event-item-details>
                </div>
            </mat-tab>

            <mat-tab label="{{ 'communications.event.message' | translate }}">
                <div id="tab-body-wrapper">
                    <app-communications-event-item-message></app-communications-event-item-message>
                </div>
            </mat-tab>

            <mat-tab
                label="{{ 'communications.event.attachments' | translate }}"
            >
            </mat-tab>

            <mat-tab
                label="{{ 'communications.event.recipients' | translate }}"
            >
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
