<div class="bground">
    <div class="docitemheader">
        <b> {{ groupName }}</b>
    </div>

    <div class="container">
        <div class="item" (click)="onDocClick(a)" *ngFor="let a of this.documentItems">
            <button type="button" class="block">
                {{ a.docSto.docName }}
            </button>
        </div>
    </div>
</div>

<!-- <div class="footer"><i class="fa fa-times fa-5x" aria-hidden="true" (click)="onClickClose()"></i></div> -->
