<table>
    <tr>
        <th> Name: </th>
        <td> {{ contactData.name }} </td>
    </tr>
    <tr>
        <th> Type: </th>
        <td> {{ contactData.type }} </td>
    </tr>
    <tr>
        <th> Institution: </th>
        <td> {{ contactData.banPla.institutionName }} </td>
    </tr>
    <tr>
        <th> Institution Id: </th>
        <td> {{ contactData.banPla.institutionId }} </td>
    </tr>

</table>
<hr>
